{{#if success_messages }}
      <div style="padding: 10px 15px 10px 15px; border:1px solid transparent; border-radius:4px" class="alert-success">{{success_messages}}</div>
{{/if}}

{{#if error_messages }}
      <div style="padding: 10px 15px 10px 15px; border:1px solid transparent; border-radius:4px" class="alert-danger">{{error_messages}}</div>
{{/if}}
