<!-- start of footer section, the footer is common to all the pages--->
<footer class="container-fluid section-margin" style=" background-color:#092746; display:block;">
  <div class="margin-class" style="padding-top:6%; padding-bottom:6%; border-bottom-style:dashed; border-color: #f1f4f7; border-width:1px;">
    <div class="row title-margin-class">
      <div class="col-sm-4" style="color:white;">
        <div style="font-size:3em;">
          <span style="color: #aece61;" class="fas fa-book-reader"></span>
          <span>Tutorry</span>
        </div>
        <div style="padding-top:7%;">
          <p>Et scaevola delicata vix, mea ei invidunt quodsi eripuit definiebas at pri. Placerat voluptaria meleos malis civibus an dolor</p>
        </div>
      </div>
      <div class="col-sm-4" style=" color:white;">
        <h3>Quick Links</h3>
        <ul style="list-style-type:none; padding-top:7%;">
          <li><a style="text-decoration:none; color:white;" href="">Home</a></li>
          <li><a style="text-decoration:none; color:white;" href="">Find a Tutor</a></li>
          <li><a style="text-decoration:none; color:white;" href="">Become a Tutor</a></li>
          <li><a style="text-decoration:none; color:white;" href="">Contact</a></li>
        </ul>
      </div>
      <div class="col-sm-4" style=" color:white;">
        <h3>Our Contacts</h3>
        <div style="padding-top:7%;">
          <div>
            <div>
              <span class="address glyphicon glyphicon-envelope"></span>
              <span>350 Avenue, New York, NY 10001</span>
            </div>
            <div>
              <span class="address glyphicon glyphicon-map-marker"></span>
              <span>info@yoursite.com</span>
            </div>
            <div>
              <span class="address glyphicon glyphicon-earphone"></span>
              <span>800-123-4567</span>
            </div>
          </div>
          <div style="margin-top:5%;">
            <span>
              <i class="address fab fa-facebook"></i>
              <i class="address fab fa-twitter"></i>
              <i class="address fab fa-instagram"></i>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="margin-class" style="margin-top:10px;color:white;">
    <p>AncoraThemes © 2019. All Rights Reserved.</p>
  </div>
</footer><!--------- end of footer section ------------>
