<!--start of overlay--->
<div id="overlay">
   <div class="login">
      <div class="btn-group ">
         <button id="loginbtn" onclick="displayLogin(this);" style="width:45%;  background-color:#aece61; color:#183e64;">
           <i class="fa fa-unlock" style="font-size:24px; margin-right:10px;">
           </i>LOGIN</button>
         <button id = registerbtn onclick="displayRegistration(this);" style="width:44%; background-color: white; color: #183e64;">
           <i class="fa fa-user-plus" style="font-size:24px; margin-right:10px;">
           </i>REGISTER</button>
         <button class="closebutton" onclick="hideoverlay();">X </button>
      </div>
      <div  style="margin:30px 20px 20px 20px;"><!--start of login form division-->
         <form id="login-form" action="/users/login" method="post">
            <div class="form-group">
               <input onfocusout="myFunction(this.value,1);" style="height:3em; background-color: #f6f8fa; " type="email" class="form-control" id="inputEmail" name="email" placeholder="Email" required>
            </div>
            <div class="form-group">
               <input style="height:3em; background-color: #f6f8fa;" type="password" class="form-control" id="inputPassword" name="password" placeholder="Password" required>
            </div>
            <div class="form-group" style="padding-top:15px;">
               <a style="color:#92b343;" href="/users/forgotPassword">Forgot Password ?</a>
               <p id="error" style="float:right; color:red;"></p>
            </div>
            <div class="form-group" style="padding-bottom:10px;">
               <button type="submit" class="button btn btn-lg">LOGIN</button>
            </div>
         </form>
      </div><!--end of login form division-->
      <div style="margin:20px 20px 20px 20px;"><!--start of registration form division-->
         <form id="registration-form" style="display:none;" action="/users/register" method="post">
            <div class="form-group">
               <input onfocusout="myFunction(this.value,2);" style="height:3em; background-color: #f6f8fa; " type="email" class="form-control" id="inputEmail" name="email" placeholder="Email" required>
            </div>
            <div class="form-group">
               <input style="height:3em; background-color: #f6f8fa; " type="text" class="form-control" id="inputUsername" name="username" placeholder="username" required>
            </div>
            <div class="form-group">
               <input onfocusout = "assignpasswordvalue(this.value);" style="height:3em; background-color: #f6f8fa; " type="password" class="form-control" id="inputPassword" name="password" placeholder="Password" required>
            </div>
            <div class="form-group">
               <input onfocusout="checkconfirmpassword();"style="height:3em; background-color: #f6f8fa; " type="password" class="form-control" id="inputConfirmPassword" name="confirmationPassword" placeholder="Confirm Password" required>
            </div>
            <div class="form-group">
               <select style="width: 100%;padding: 16px 20px;border: none;border-radius: 4px; background-color: #f1f1f1;"id="usertype" name="usertype">
                  <option value="student">Student</option>
                  <option value="tutor">Tutor</option>
               </select>
            </div>
            <div class="form-group" style="padding-bottom:10px;">
               <button id="registrationsend" type="submit" class="button btn btn-lg">REGISTER</button>
               <p id="registererror" style="float:right; color:red; margin-top:35px;"></p>
            </div>
         </form>
      </div><!--end of login form division-->
   </div>
</div>
<!-----------end of overlay---------->
<script>


var password = '';

/*$("#registrationsend").submit(function(e) {

    e.preventDefault(); // avoid to execute the actual submit of the form.

    var form = $(this);
    var url = form.attr('action');

    $.ajax({
           type: "POST",
           url: url,
           data: form.serialize(), // serializes the form's elements.
           success: function(data)
           {
              if(data.valu=='1'){
                alert('success');
              }
               // show response from the php script.
           }
         });


});*/

//function to do tasks related to email
function myFunction(useremail,flag) {
var x = useremail;
//alert(value);
if(!x){
  document.getElementById('error').innerHTML = "Email is empty";
  alert('Email is empty');
}else{
  var valid = emailVaild(x);
  //if email is valid then check if email exists in database
  if(valid){
  checkifEmailExists(x,flag);
  }else{
  document.getElementById('error').innerHTML = "Invalid email format";
  alert('Invalid email format')
  }
}
}
//function which will validate the format of the email id
function emailVaild(email){
   return /^[^\s@]+@[^\s@]+\.[^\s@]+$/.test(email);
}
// function which sends email to server to check if it exisit in database or not
function checkifEmailExists(x,flag){
$.get('/users/checkUserInDatabase'+ x , function(data, status){
 if(data=='true'&& flag=='1'){
    document.getElementById('error').innerHTML = "";
    // $('#notifyModal').modal('show');
 }
 if(data=='true'&& flag=='2'){
    document.getElementById('error').innerHTML = "";
    document.getElementById('registererror').innerHTML = "Email already existis";
    alert('Email already existis');
 }
 if(data=='false'&& flag=='1'){
   document.getElementById('error').innerHTML = "Email id does not exists";
   document.getElementById('registererror').innerHTML = "";
   alert('email does not exist');
 }

 if(data=='false'&& flag=='2'){
   document.getElementById('error').innerHTML = "Email id does not exists";
   document.getElementById('registererror').innerHTML = "";
 }
});
}
//get password field value so that it can be used to match later with confirmpassword
function assignpasswordvalue(x){
  password = x;
}

//function to check if the password and confirmpassword is same or not
function checkconfirmpassword(){
  var confirmpassword = document.getElementById("inputConfirmPassword").value;
 if(password!=confirmpassword){
    document.getElementById('inputConfirmPassword').style = 'border-color:red';
    document.getElementById('registererror').style.color = "green";
    document.getElementById('registererror').innerHTML = "password did not match";
    alert('password did not match');
  }else{
    document.getElementById('inputConfirmPassword').style = '';
    document.getElementById('registererror').style.color = "green";
    document.getElementById('registererror').innerHTML = "password matched";
  }
}
</script>
