<!--start of overlay--->
<div id="overlay">
   <div class="login">
      <div class="btn-group ">
         <button  onclick="displayLogin();" style="width:45%;  background-color:white; color: #183e64;">
           <i class="fa fa-unlock" style="font-size:24px; margin-right:10px;">
           </i>LOGIN</button>
         <button onclick="displayRegistration();" style="width:44%;  color: #e2e2e2; background-color: #757575;">
           <i class="fa fa-user-plus" style="font-size:24px; margin-right:10px;">
           </i>REGISTER</button>
         <button class="closebutton" onclick="hideoverlay();">X </button>
      </div>
      <div  style="margin:20px 20px 20px 20px;"><!--start of login form division-->
         <form id="login-form" action="/users/login" method="post">
            <div class="form-group">
               <input onfocusout="myFunction();" style="height:3em; background-color: #f6f8fa; " type="email" class="form-control" id="inputEmail" name="email" placeholder="Email">
            </div>
            <div class="form-group">
               <input style="height:3em; background-color: #f6f8fa;" type="password" class="form-control" id="inputPassword" name="password" placeholder="Password">
            </div>
            <div class="form-group" style="padding-top:15px;">
               <a style="color:#92b343;" href="/users/forgotPassword">Forgot Password ?</a>
            </div>
            <div class="form-group" style="padding-bottom:10px;">
               <button type="submit" class="button btn btn-lg">LOGIN</button>
            </div>
         </form>
      </div><!--end of login form division-->
      <div style="margin:20px 20px 20px 20px;"><!--start of registration form division-->
         <form id="registration-form" style="display:none;" action="/users/register" method="post">
            <div class="form-group">
               <input style="height:3em; background-color: #f6f8fa; " type="email" class="form-control" id="inputEmail" name="email" placeholder="Email" required autofocus>
            </div>
            <div class="form-group">
               <input style="height:3em; background-color: #f6f8fa; " type="text" class="form-control" id="inputUsername" name="username" placeholder="username" required>
            </div>
            <div class="form-group">
               <input style="height:3em; background-color: #f6f8fa; " type="password" class="form-control" id="inputPassword" name="password" placeholder="Password">
            </div>
            <div class="form-group">
               <input style="height:3em; background-color: #f6f8fa; " type="password" class="form-control" id="inputConfirmPassword" name="confirmationPassword" placeholder="Confirm Password">
            </div>
            <div class="form-group">
               <select style="width: 100%;padding: 16px 20px;border: none;border-radius: 4px; background-color: #f1f1f1;"id="usertype" name="usertype">
                  <option value="student">Student</option>
                  <option value="tutor">Tutor</option>
               </select>
            </div>
            <div class="form-group" style="padding-bottom:10px;">
               <button type="submit" class="button btn btn-lg">REGISTER</button>
            </div>
         </form>
      </div><!--end of login form division-->
   </div>
</div>
<!-----------end of overlay---------->
