<!DOCTYPE html>
<html>
  <head>
   <meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>
  <body>
  <script>

  document.addEventListener("scroll", function () {
    myFunc();
  }, false);

function myFunc() {
   var navbar = document.getElementById("navbar");
   var sticky = navbar.offsetTop;
   var y = window.pageYOffset;
   if(y>100){
   navbar.style = "background-color:#062e57;";
   }
   myFuncEnd();
}

function myFuncEnd(){

var y =window.pageYOffset;
if(y<10){
var navbar = document.getElementById("navbar");
navbar.style = "background:transparent; border:none;";

}
}

function on(){
 document.getElementById("overlay").style="display:block;";
 document.getElementById("closebtn").style="display:block;";

}

function off(){
 document.getElementById("overlay").style="display:none;";
 document.getElementById("closebtn").style="display:none;";
}

function displayRegistration(){

	document.getElementById("login-form").style = "display:none;";
	document.getElementById("registration-form").style = "display:initial;";

	}

	function displayLogin(){

	document.getElementById("login-form").style = "display:initial;";
	document.getElementById("registration-form").style = "display:none;";

	}

  function showform(){

    document.getElementById("message-overlay").style="display:block;";


  }



</script>


    {{{body}}}
  {{>footer}}
  <script type="text/javascript" src="/javascripts/script.js"></script>

  </body>
</html>
