{{>header}}
{{>overlay}}

<div class="section-margin">
	<div class="margin-class">
		<div class="title-margin-class">
			<p class="title_info" style="color: #91959a;">Tutor with the best</p>
			<h1 style="color: #134477;">Become a <span style="color: #aece61;">Tutor</span></h1>
		</div>
		<div class="title-margin-class within-sec-margin row">
			<div class="col-sm-6">
				<p style="color: #91959a;">Private tutoring is not always effective in raising academic achievement; and in some schools students commonly skip classes or sleep through lessons because they are tired after excessive external study. This means that the shadow system can make regular schooling less efficient. Teachers who spend more time focusing on private lessons than regular classes can cause greater inefficiencies in the mainstream school system. Situations in which teachers provide extra private lessons for pupils for whom they are already responsible in the public system can lead to corruption.</p>
			</div>
			<div class="col-sm-6" style="">
				<h4 style="color: #134477;">Skills Requirements.</h4>
				<ul style="color: #91959a;">
					<li>Knowledge of subject matter</li>
					<li>Ability to effectively communicate subject matter</li>
					<li>Application of different learning strategies including active learning and peer-to-peer techniques</li>
					<li>Ability to listen and answer questions during tutoring sessions</li>
					<li>Set goals and/or expectations during the first few sessions</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<!--<div style="background-color:#f1f4f7; padding-top:5%;" class="section-margin">
	<div class="margin-class">
		<div class="title-margin-class">
			<p class="title_info" style="color: #91959a;">Find the best Tutorring Job</p>
			<h1 style="color: #134477;">Apply <span style="color: #aece61;">Now</span></h1>
		</div>
		<div style="background-image:url(http://smarthead.ancorathemes.com/wp-content/uploads/2016/11/bg_promo.jpg);">

		</div>
	</div>
</div>-->

<!--------- start of video presentation section------------>
<div id="useful" class="section-margin">
	<div class="margin-class">
		<div class="title-margin-class">
			<p class="title_info" style="color: #91959a;">We provide the best tutoring service</p>
			<h1 style="color: #134477;">Useful <span style="color: #aece61;"> Information</span></h1>
		</div>
		<div class="within-sec-margin title-margin-class">
		<iframe width="100%" height="400px" src="https://www.youtube.com/embed/vqNqnlP73dY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			<!--<div style="padding-left:20%; padding-top:25%; opacity:1;">
				<a style=" font-size:2.5em; font-weight:100; text-decoration:none; color:white; padding-right:10px;" href="#">View our video presentation<span class="far fa-play-circle"></span></a>
			</div>-->
		</div>
	</div>
</div>
 <!--------- end of video presentation section------------>

<!--------- start of help heading section ------------>
<div class="margin-class section-margin">
	<div class="row title-margin-class" style="margin-bottom:30px;">
		<div class="col-sm-9">
			<h1 style="color: #134477;">Calling <span style="color: #aece61;">All Experts</span></h1>
			<p style="color: #91959a; font-size:1em;">When private tutoring is provided by well trained tutor however the effects can be dramatic, with pupils improving performance by two standard deviations. The system of excessive private tutoring will take time for activities such as playing soccer or joining clubs from students.</p>
		</div>
		<div class="col-sm-3">
			<button onclick="location.href='tutor-registration.html'"  class="button btn btn-lg" type="button">Register Now</button>
		</div>
	</div>
</div> <!--------- end of help heading section ------------>

<!--------- start of help banner section ------------>
<div class="help-banner" style="background-image: url(http://smarthead.ancorathemes.com/wp-content/uploads/2016/11/bg.jpg?id=139);">
	<div style="color:white; text-align:center; padding-top:10%;">
		<h6>Call Us 800-123-4567</h6>
		<h1>Do You Need Help?</h1>
		<p>Our specialists can help you with finding the right tutor for you or your kids</p>
		<button class="button btn btn-lg" type="button">Contact Now</button>
	</div>

</div>
<!--------- end of help banner section ------------>
