{{>header}}
{{>overlay}}
<div class="section-margin">
	<div class="margin-class">
		<div class="title-margin-class">
			<p class="title_info" style="color: #91959a;">Send Us a Message</p>
			<h1 style="color: #134477;">Get in <span style="color: #aece61;">Touch</span></h1>
		</div>
		<div class="title-margin-class within-sec-margin">
			<div>
				<form action="/users/contact" method="post">
					<div class="form-group">
						<p style="color: #91959a; padding-bottom:20px;">We’d love to hear from you and answer any questions you may have! Send us a message using the form and we’ll respond as soon as we can.</p>
					</div>
					<div class="form-group">
						<input type="email" class="form-control contact-input" id="email" placeholder="Enter email" name="email">
					</div>
					<div class="form-group">
						<input type="password" class="form-control contact-input" id="pwd" placeholder="Enter password" name="pwd">
					</div>
					<div class="form-group">
						<textarea style="height:100px;"  class="form-control" id="pwd" placeholder="Enter your message" name="pwd"></textarea>
					</div>
					<div class="form-group">
					<button class="button btn btn-lg" type="button">Contact Now</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
