{{>header}}
{{>overlay}}
<script>
document.addEventListener("scroll", function () {
	myFunc();
}, false);

function myFunc() {
 var stickysearchbar = document.getElementById("stickysearchbar");
 var sticky = stickysearchbar.offsetTop;
 var y = window.pageYOffset;

 if(y>150){
 stickysearchbar.style = "position:sticky; top:0; padding-top:60px; z-index:100;";
 }
}




</script>


<div  id="stickysearchbar" class="margin-class section-margin"> <!----------- start of search bar----------------->
		<div class="title-margin-class" style="background-color:#062e57;">
			<form class="form-inline" action="/action_page.php">
				<div class="form-group form-header">
					<h6 style="color:white; font-size:2.5rem; line-height:1;">Find Your</span></h6>
					<h4 style="color:#aece61; font-size:3.125rem; line-height:1;">Tutor</h4>
				</div>
				<div class="form-group">
					<input type="email" class="form-control searchbar-input" id="email" placeholder="Enter a subject" name="email">
				</div>
				<div class="form-group">
					<input type="password" class="form-control searchbar-input" id="pwd" placeholder="Location" name="pwd">
				</div>
				<div class="form-group">
					<input type="password" class="form-control searchbar-input" id="pwd" placeholder="Zipcode" name="pwd">
				</div>
				<div class="form-group" style="padding-bottom:15px; text-align:center; margin-left:10px;">
					<button class="button btn btn-lg" type="button">Find Now</button>
				</div>
			</form>
		</div>
	</div> <!----------- end of search bar ----------------->

<div class="container-fluid margin-class section-margin">
	<div class="title-margin-class">
		<div class="row">
			<div class="col-sm-4" style="background-color:#f1f4f7;">
					<div class="">
					  <button type="button" class="subject-buttons">Science & Mathematics</button>
					  <button type="button" class="subject-buttons">Social Sciences</button>
						<button type="button" class="subject-buttons">Political Sciences</button>
						<button type="button" class="subject-buttons">Chemistry</button>
						<button type="button" class="subject-buttons">Physics</button>
						<button type="button" class="subject-buttons">English</button>
						<button type="button" class="subject-buttons">Hindi</button>
						<button type="button" class="subject-buttons">Marathi</button>
						<button type="button" class="subject-buttons">Goegraphy</button>
						<button type="button" class="subject-buttons">Mathematics</button>
						<button type="button" class="subject-buttons">Science</button>
						<button type="button" class="subject-buttons">History</button>
						<button type="button" class="subject-buttons">Economics</button>
						<button type="button" class="subject-buttons">Biology</button>
						<button type="button" class="subject-buttons">Algebra</button>
						<button type="button" class="subject-buttons">Geometry</button>
						<button type="button" class="subject-buttons">Science</button>
					</div>
			</div>
			<div class="col-sm-4">
				<div class="card" style="width:225px">
					<img class="card-img-top" src="http://smarthead.ancorathemes.com/wp-content/uploads/2016/11/tutor2-740x792.jpg" alt="Card image" style="width:100%">
					<div  class="card-body tutor-card-body">
						<h4 style="color: #134477;" class="card-title">John Doe</h4>
						<p style="color:#91959a;" class="card-text">HISTORY, GEOGRAPHY, ECONOMICS</p>
						<button class="view_tut_btn button btn btn-lg" type="button">View Tutor</button>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="card" style="width:225px">
					<img class="card-img-top" src="http://smarthead.ancorathemes.com/wp-content/uploads/2016/11/tutor2-740x792.jpg" alt="Card image" style="width:100%">
					<div  class="card-body tutor-card-body">
						<h4 style="color: #134477;" class="card-title">John Doe</h4>
						<p style="color:#91959a;" class="card-text">HISTORY, GEOGRAPHY, ECONOMICS</p>
						<button class="view_tut_btn button btn btn-lg" type="button">View Tutor</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
