
<style>
./****** Bootstrap Colors ******/

@gray-base: #000;
@gray-darker: lighten(@gray-base, 13.5%);
@gray-dark: lighten(@gray-base, 20%);
@gray: lighten(@gray-base, 33.5%);
@gray-light: lighten(@gray-base, 46.7%);
@gray-lighter: lighten(@gray-base, 93.5%);
@brand-primary: darken(#428bca, 6.5%);
@brand-success: #5cb85c;
@brand-info: #5bc0de;
@brand-warning: #f0ad4e;
@brand-danger: #d9534f;

@icon-font: 'Glyphicons Halflings';

@down-arrow: "\e259";
@up-arrow: "\e260";

.primary {
  min-height: 800px;


}

/*** Accordion Toggles ***/
.panel-heading {
  position: relative;

  .accordion-toggle:after {
    font-family: @icon-font;
    content: @up-arrow;
    position: absolute;
    right: 16px;
  }

  .accordion-toggle.collapsed:after {
    font-family: @icon-font;
    content: @down-arrow;
  }
}

/*** Filter Menu ***/

/* Panels */
.filter-menu {
  .panel {
    border-radius: 0;
    border: 1px solid @gray-lighter;

  }

  .panel-heading {
    background: #fff;
    padding: 0;
  }

  .panel-title {
    color: @gray-dark;
    font-weight: bold;
    display: block;
    padding: 16px;
  }

  a.panel-title {
    color: @gray-dark;

    &:hover,
    &:focus {
      color: @gray-dark;
      text-decoration: none;
    }
  }

  .panel-body {
    padding: 16px;

  }
}

/* Inner Panels */
.filter-menu .panel-group {
  margin: -16px;


  .panel-title {
    background: #eee;
    transition: color, 0.5s, ease;

    &:hover {
      color: @gray-dark;
      text-decoration: none;
      background: @gray-light;
    }
  }

  .panel + .panel {
    margin-top: 0;

  }
}

/*** Filter Menu - Mobile ***/


@mobile-menu-bg: #30404a;
@mobile-menu-bg-active: #3f5460;
@mobile-menu-border: #4B6473;
@mobile-menu-text: #f9f9f9;

/* Panels - Mobile */
.filter-menu.mobile {
  .btn-link {
    color: @mobile-menu-text;
  }
  hr {

    margin-top: 0;
    border-top-color: @mobile-menu-border;
  }
  .panel-group .panel-heading + .panel-collapse > .panel-body {
    border-color: @mobile-menu-border;
  }
  .panel {
    border-color: @mobile-menu-border;
    background: @mobile-menu-bg;
    color: @mobile-menu-text;
  }
  .panel-heading {
    background: @mobile-menu-bg;
  }
  a.panel-title {
    color: @mobile-menu-text;
  }
  a.panel-title:hover {
    color: @mobile-menu-text;
  }
  .panel-group {
    .panel {
      border-color: @mobile-menu-border;

    }
    .panel-title {
      background: @mobile-menu-bg-active;
    }
    .panel-title:hover {
      color: @mobile-menu-text;
      background: @mobile-menu-bg;
    }
  }
}

/****** Footer ******/

.footer {
  background-color: @gray-lighter;
}
.footer p {
  margin: 20px 0;
  text-align: center;
  color: darken(@gray-lighter, 40%);
}
.footer .glyphicon-heart {
  color: pink;
}

/*** Sticky Footer ***/

@footer-height: 60px;

html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: @footer-height;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: @footer-height;
}
/*range slider*/
div.scroll {
  width: 350px;
  height:500px;
  overflow: auto;
}

/*slider*/
.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 10%;
  height: 5px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 25px;
  border-radius: 50%;
  background: #333;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #333;
  cursor: pointer;
}


/* Style the button that is used to open and close the collapsible content */

.collapsible {
  background-color: #f1f1f1; //color changed
  color: #444;
  cursor: pointer;
  padding: 15px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc; //color changed from ccc to aece61
}

.collapsible:after {
  content: '\002B';

  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}



@media screen and (max-width: 600px) {
  .form-group {
    width: 100%;
  }
}

.margin-class {
	margin-left: 18%;
	margin-right: 18%;
  margin-top: 15px;
}


.form-group {
  color:#134477;
}

.cont{
padding-top: 70px;
  padding-right: 200px;

}
</style>
{{>header}}
{{>overlay}}
<!----------- start of search bar----------------->
<!--<div  id="stickysearchbar" class="container margin-class section-margin" style="">
		<div class="title-margin-class" style="background-color:#062e57;">
			<form class="form-inline" action="/users/find_tutor">
				<div class="form-group form-header">
					<h6 style="color:white; font-size:2.5rem; line-height:1;">Find Your</span></h6>
					<h4 style="color:#aece61; font-size:3.125rem; line-height:1;">Tutor</h4>
				</div>
				<div class="form-group">
					<input type="text" class="form-control searchbar-input" id="subject" placeholder="Enter a subject" name="subject" required>
				</div>
				<div class="form-group">
					<input type="text" class="form-control searchbar-input" id="location" placeholder="Location" name="location">
				</div>
				<div class="form-group">
					<input type="number" class="form-control searchbar-input" id="number" placeholder="Zipcode" name="number">
				</div>
				<div class="form-group" style="padding-bottom:15px; text-align:center; margin-left:10px;">
					<button class="button btn btn-lg" type="submit">Find Now</button>
				</div>

			</form>
		</div>
	</div>-->
  <!----------- end of search bar ----------------->




<!--<div class="container margin-class section-margin">
	<div class="title-margin-class">
    <div class="row">
			<div class="col-sm-4 col-md-4">
<div class="scroll">
			<!--	<div class="content">
					<div style="margin-top:20px;">
						<div style="font-size:18px;">
							<div>
							<span onclick="location.href='/users/find_tutor?subjects=history'"><input style="margin-left: -120px;" type="checkbox" value="history" name="subjects[]"><span style="margin-left:-120px; cursor:pointer;">HISTORY</span></span>
							</div>
							<div>
								<span><input style="margin-left: -120px;" type="checkbox" ><span style="margin-left:-120px; cursor:pointer;">Geography</span></span>
							</div>
							<div>
								<span><input style="margin-left: -120px;" type="checkbox"><span style="margin-left:-120px; cursor:pointer;">Mathematics</span></span>
							</div>
							<div>
								<span><input style="margin-left: -120px;" type="checkbox"><span style="margin-left:-120px; cursor:pointer;">Science</span></span>
							</div>
              <div>
								<span><input style="margin-left: -120px;" type="checkbox"><span style="margin-left:-120px; cursor:pointer;">English</span></span>
                <div>
  								<span><input style="margin-left: -120px;" type="checkbox"><span style="margin-left:-120px; cursor:pointer;">Hindi</span></span>
  							</div>
                <div>
  								<span><input style="margin-left: -120px;" type="checkbox"><span style="margin-left:-120px; cursor:pointer;">Marathi</span></span>
  							</div>
							</div>
						</div>
					</div>
				</div>
        <button class="collapsible">Subjects</button>
        <div class="content">
          <div style="margin-top:20px;">
            <div style="">
              <div class="checkbox">
                <a style="color:#134477;" href="/"><input id="1-5" style="margin-left:-140px;" type="checkbox" value=""><label style="">Mathematics</label></a>
              </div>
              <a style="color:#134477;" href="#"><div class="checkbox">
                  <input style="margin-left:-140px;" type="checkbox" value=""><label style="">Science</label>
              </div></a>
              <a style="color:#134477;" href="#"><div class="checkbox">
                  <input style="margin-left:-140px;" type="checkbox" value=""><label style="">English</label>
              </div></a>
              <a style="color:#134477;" href="#"><div class="checkbox">
                <input style="margin-left:-140px;" type="checkbox" value=""><label style="">Marathi</label>
              </div></a>
              <a style="color:#134477;" href="#"><div class="checkbox">
                <input style="margin-left:-140px;" type="checkbox" value=""><label style="">Hindi</label>
              </div></a>
              <a style="color:#134477;" href="#"><div class="checkbox">
                <input style="margin-left:-140px;" type="checkbox" value=""><label style="">History</label>
              </div></a>
              <a style="color:#134477;" href="#"><div class="checkbox">
                <input style="margin-left:-140px;" type="checkbox" value=""><label style="">Geogaphy</label>
              </div></a>
            </div>
          </div>
        </div>

				<button class="collapsible">Class</button>
				<div class="content">
					<div style="margin-top:20px;">
						<div style="">
							<div class="checkbox">
								<a style="color:#134477;" href="/"><input id="1-5" style="margin-left:-140px;" type="checkbox" value=""><label style="">1-5</label></a>
							</div>
							<a style="color:#134477" href="#"><div class="checkbox">
									<input style="margin-left:-140px;" type="checkbox" value=""><label style="">5-10</label>
							</div></a>
							<a style="color:#134477;" href="#"><div class="checkbox">
									<input style="margin-left:-140px;" type="checkbox" value=""><label style="">10-12</label>
							</div></a>
							<a style="color:#134477;" href="#"><div class="checkbox">
								<input style="margin-left:-140px;" type="checkbox" value=""><label style="">Diploma</label>
							</div></a>
						</div>
					</div>
				</div>
				<button class="collapsible">Prices</button>
				  <div class="content">
					<div style="margin-top:20px;">
						<div style="">
              <div class="slidecontainer">

                  <input type="range" min="100" max="1000" value="500" class="slider" id="myRange">
                </div>
                <br>
                 <p>Max Price: <span id="demo"></span></p>
							<!--<div class="checkbox">
								<a style="color:blue;" href="/"><input id="1-5" style="margin-left:-140px;" type="checkbox" value=""><label style="">200-300</label></a>
							</div>
							<a style="color:blue;" href="#"><div class="checkbox">
									<input style="margin-left:-140px;" type="checkbox" value=""><label style="">300-400</label>
							</div></a>
							<a style="color:blue;" href="#"><div class="checkbox">
									<input style="margin-left:-140px;" type="checkbox" value=""><label style="">400-500</label>
							</div></a>
							<a style="color:blue;" href="#"><div class="checkbox">
								<input style="margin-left:-140px;" type="checkbox" value=""><label style="">500-800</label>
							</div></a>
						</div>
					</div>
				</div>
        <button class="collapsible">Type</button>
          <div class="content">
            <div style="margin-top:20px;">
              <div style="">
                <div class="form-group">

                    <select class="form-control" id="sel1">
                      <option>Online</option>
                      <option>Offline</option>

                    </a>
                  </select>
              </div>
            </div>
          </div>
  </div>

		<button class="collapsible">Gender</button>
				<div class="content">
					<div style="margin-top:20px;">
						<div style="">
                    <div class="radio">
                      <a style="color:#134477;">
                      <label><input type="radio" name="optradio">Male</label>
                    </a>
                    </div>
                    <div class="radio">
                      <a style="color:#134477;">
                      <label><input type="radio" name="optradio">Female</label>
                    </div>
                     </a>
                    <div class="radio">
                      <a style="color:#134477;">
                      <label><input type="radio" name="optradio">Both</label>
                    </a>
                    </div>
						</div>
					</div>
        </div>

        <button class="collapsible">Board</button>
  				<div class="content">
  					<div style="margin-top:20px;">
  						<div style="">
                <div class="form-group">

                    <select class="form-control" id="sel1">
                      <option>State Board</option>
                      <option>CBSE Board</option>
                      <option>ICSE Board</option>
                    </a>
                  </select>
  						</div>
  					</div>
  				</div>
</div>
</div>





				<!--<button class="collapsible">Subjects</button>
				<div class="content">
					<div style="margin-top:20px;">
						<div style="">
							<div class="checkbox">
								<a style="color:blue;" href="/"><input id="1-5" style="margin-left:-40px;" type="checkbox" value=""><label style="">1-5</label></a>
							</div>
							<a style="color:blue;" href="#"><div class="checkbox">
									<input style="margin-left:-40px;" type="checkbox" value=""><label style="">5-10</label>
							</div></a>
							<a style="color:blue;" href="#"><div class="checkbox">
									<input style="margin-left:-40px;" type="checkbox" value=""><label style="">10-12</label>
							</div></a>
							<a style="color:blue;" href="#"><div class="checkbox">
								<input style="margin-left:-40px;" type="checkbox" value=""><label style="">Diploma</label>
							</div></a>
						</div>
					</div>
				</div>
				<button class="collapsible">Subjects</button>
				<div class="content">
					<div style="margin-top:20px;">
						<div style="">
							<div class="checkbox">
								<a style="color:blue;" href="/"><input id="1-5" style="margin-left:-40px;" type="checkbox" value=""><label style="">1-5</label></a>
							</div>
							<a style="color:blue;" href="#"><div class="checkbox">
									<input style="margin-left:-40px;" type="checkbox" value=""><label style="">5-10</label>
							</div></a>
							<a style="color:blue;" href="#"><div class="checkbox">
									<input style="margin-left:-40px;" type="checkbox" value=""><label style="">10-12</label>
							</div></a>
							<a style="color:blue;" href="#"><div class="checkbox">
								<input style="margin-left:-40px;" type="checkbox" value=""><label style="">Diploma</label>
							</div></a>
						</div>
					</div>
				</div>
				<button class="collapsible">Subjects</button>
				<div class="content">
					<div style="margin-top:20px;">
						<div style="">
							<div class="checkbox">
								<a style="color:blue;" href="/"><input id="1-5" style="margin-left:-40px;" type="checkbox" value=""><label style="">1-5</label></a>
							</div>
							<a style="color:blue;" href="#"><div class="checkbox">
									<input style="margin-left:-40px;" type="checkbox" value=""><label style="">5-10</label>
							</div></a>
							<a style="color:blue;" href="#"><div class="checkbox">
									<input style="margin-left:-40px;" type="checkbox" value=""><label style="">10-12</label>
							</div></a>
							<a style="color:blue;" href="#"><div class="checkbox">
								<input style="margin-left:-40px;" type="checkbox" value=""><label style="">Diploma</label>
							</div></a>
						</div>
					</div>
				</div>
				<button class="collapsible">Subjects</button>
				<div class="content">
					<div style="margin-top:20px;">
						<div style="">
							<div class="checkbox">
								<a style="color:blue;" href="/"><input id="1-5" style="margin-left:-40px;" type="checkbox" value=""><label style="">1-5</label></a>
							</div>
							<a style="color:blue;" href="#"><div class="checkbox">
									<input style="margin-left:-40px;" type="checkbox" value=""><label style="">5-10</label>
							</div></a>
							<a style="color:blue;" href="#"><div class="checkbox">
									<input style="margin-left:-40px;" type="checkbox" value=""><label style="">10-12</label>
							</div></a>
							<a style="color:blue;" href="#"><div class="checkbox">
								<input style="margin-left:-40px;" type="checkbox" value=""><label style="">Diploma</label>
							</div></a>
						</div>
					</div>
				</div>-->

				<!--<div class="buttons">
					  <button type="button" class="subject-buttons">Science & Mathematics</button>
					  <button type="button" class="subject-buttons">Social Sciences</button>
						<button type="button" class="subject-buttons">Political Sciences</button>
						<button type="button" class="subject-buttons">Chemistry</button>
						<button type="button" class="subject-buttons">Physics</button>
						<button type="button" class="subject-buttons">English</button>
						<button type="button" class="subject-buttons">Hindi</button>
						<button type="button" class="subject-buttons">Marathi</button>
						<button type="button" class="subject-buttons">Goegraphy</button>
						<button type="button" class="subject-buttons">Mathematics</button>
						<button type="button" class="subject-buttons">Science</button>
						<button type="button" class="subject-buttons">History</button>
						<button type="button" class="subject-buttons">Economics</button>
						<button type="button" class="subject-buttons">Biology</button>
						<button type="button" class="subject-buttons">Algebra</button>
						<button type="button" class="subject-buttons">Geometry</button>
						<button type="button" class="subject-buttons">Science</button>
				</div>
				<div style="margin-top:50px;">
						<div style="margin-top:20px;">
							<div style="margin-left:20px;">
								<h4 >Class:</h4>
							</div>
							<div style="">
								<div class="checkbox">
		      				<a style="color:blue;" href="/"><input id="1-5" style="margin-left:-40px;" type="checkbox" value=""><label style="">1-5</label></a>
		    				</div>
		    				<a style="color:blue;" href="#"><div class="checkbox">
		      					<input style="margin-left:-40px;" type="checkbox" value=""><label style="">5-10</label>
		    				</div></a>
		    				<a style="color:blue;" href="#"><div class="checkbox">
		      					<input style="margin-left:-40px;" type="checkbox" value=""><label style="">10-12</label>
		    				</div></a>
								<a style="color:blue;" href="#"><div class="checkbox">
		      				<input style="margin-left:-40px;" type="checkbox" value=""><label style="">Diploma</label>
		    				</div></a>

							</div>
						</div>
						<div style="margin-top:20px;">
							<div style="margin-left:20px;">
								<h4 >Gender:</h4>
							</div>
							<div style="">
								<div class="checkbox">
		      				<input style="margin-left:-40px;" type="checkbox" value=""><label style="">Male</label>
		    				</div>
		    				<div class="checkbox">
		      					<input style="margin-left:-40px;" type="checkbox" value=""><label style="">Female</label>
		    				</div>

							</div>
						</div>
						<div style="margin-top:20px;">
							<div style="margin-left:20px;">
								<h4 >Fees:</h4>
							</div>
							<div style="">
								<div class="checkbox">
		      				<input style="margin-left:-40px;" type="checkbox" value=""><label style="">Below 400</label>
		    				</div>
		    				<div class="checkbox">
		      					<input style="margin-left:-40px;" type="checkbox" value=""><label style="">Below 700</label>
		    				</div>
		    				<div class="checkbox">
		      					<input style="margin-left:-40px;" type="checkbox" value=""><label style="">Below 1000</label>
		    				</div>
							</div>
						</div>
						<div style="margin-top:20px;">
							<div style="margin-left:20px;">
								<h4>Timing:</h4>
							</div>
							<div style="">
								<div class="checkbox">
		      				<input style="margin-left:-40px;" type="checkbox" value=""><label style="">Morning</label>
		    				</div>
		    				<div class="checkbox">
		      					<input style="margin-left:-40px;" type="checkbox" value=""><label style="">Afternoon</label>
		    				</div>
		    				<div class="checkbox">
		      					<input style="margin-left:-40px;" type="checkbox" value=""><label style="">Evening</label>
		    				</div>
							</div>
						</div>
					</div>-->
<br>
<div class="primary">
  <div class="cont">
    <div class="row">
      <div class="col-sm-4">
        <div class="scroll">
        <div class="filter-menu">
          <form>
            <div class="panel panel-default">
              <div class="panel-heading">
                <a class="panel-title accordion-toggle visible-sm-block" role="button" data-toggle="collapse" href="#collapseFilters"
                 aria-expanded="false" aria-controls="collapseFilters">
                  Filter
                </a>
                <div class="panel-title hidden-sm">
                  Filter
                </div><!-- /.panel-title -->
                <div class="panel-body">
                  <button class="btn btn-default" type="submit">Apply Filters</button>
                  <a class="btn btn-sm btn-link pull-right visible-sm-inline" href="#">Clear Selections</a>
                  <a class="btn btn-sm btn-link pull-right hidden-sm" href="#">Reset</a>
                </div><!-- /.panel-body -->
              </div><!-- /.panel-heading -->
              <div class="panel-body">
                <div class="panel-group" id="filter-menu" role="tablist" aria-multiselectable="true">
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                      <a class="panel-title accordion-toggle" role="button" data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Subjects
                      </a><!-- /.panel-title -->
                    </div><!-- /.panel-heading -->
                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                      <div class="panel-body">
                        <div class="checkbox"><label><input type="checkbox" name="career_state[]" value="recent_graduate">Mathematics</label></div>
                        <div class="checkbox"><label><input type="checkbox" name="career_state[]" value="imposter_syndrome">Science</label></div>
                        <div class="checkbox"><label><input type="checkbox" name="career_state[]" value="wise_old_head">English</label></div>
                        <div class="checkbox"><label><input type="checkbox" name="career_state[]" value="wise_old_head">Hindi</label></div>
                        <div class="checkbox"><label><input type="checkbox" name="career_state[]" value="wise_old_head">Marathi</label></div>
                        <div class="checkbox"><label><input type="checkbox" name="career_state[]" value="wise_old_head">History</label></div>
                        <div class="checkbox"><label><input type="checkbox" name="career_state[]" value="wise_old_head">Geography</label></div>
                        <div class="checkbox"><label><input type="checkbox" name="career_state[]" value="wise_old_head">Art</label></div>
                      </div><!-- /.panel-body -->
                    </div><!-- /.panel-collapse -->
                  </div><!-- /.panel -->
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingTwo">
                      <a class="panel-title accordion-toggle collapsed" role="button" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Grade
                      </a><!-- /.panel-title -->
                    </div><!-- /.panel-heading -->
                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                      <div class="panel-body">
                        <div class="checkbox"><label><input type="checkbox" name="topic[]" value="politics">1-5</label></div>
                        <div class="checkbox"><label><input type="checkbox" name="topic[]" value="religion">5-8</label></div>
                        <div class="checkbox"><label><input type="checkbox" name="topic[]" value="music">9-10</label></div>
                      </div><!-- /.panel-body -->
                    </div><!-- /.panel-collapse -->
                  </div><!-- /.panel -->
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingThree">
                      <a class="panel-title accordion-toggle collapsed" role="button" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Format
                      </a><!-- /.panel-title -->
                    </div><!-- /.panel-heading -->
                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                      <div class="panel-body">
                        <div class="checkbox"><label><input type="checkbox" name="format[]" value="magazine">Magazine</label></div>
                        <div class="checkbox"><label><input type="checkbox" name="format[]" value="website">Website</label></div>
                        <div class="checkbox"><label><input type="checkbox" name="format[]" value="vine">Vine</label></div>
                        <div class="checkbox"><label><input type="checkbox" name="format[]" value="tweet">Tweet</label></div>
                      </div><!-- /.panel-body -->
                    </div><!-- /.panel-collapse -->
                  </div><!-- /.panel -->
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingFour">
                      <a class="panel-title accordion-toggle collapsed" role="button" data-toggle="collapse" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        Status
                      </a><!-- /.panel-title -->
                    </div><!-- /.panel-heading -->
                    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                      <div class="panel-body">
                        <div class="checkbox"><label><input type="checkbox" name="status[]" value="single">Single</label></div>
                        <div class="checkbox"><label><input type="checkbox" name="status[]" value="married">Married</label></div>
                        <div class="checkbox"><label><input type="checkbox" name="status[]" value="its_complicated">It's complicated</label></div>
                      </div><!-- /.panel-body -->
                    </div><!-- /.panel-collapse -->
                  </div><!-- /.panel -->
                </div><!-- /.panel-group -->
              </div><!-- /.panel-body -->
            </div><!-- /.panel -->
          </form>
        </div><!-- /.filter-menu -->
      </div>
    </div><!--scroll closed-->
    <div id="stickysearchbar" class="margin-class  container col-sm-8" style="margin-top:-22%">
      <div class="title-margin-class"   style="background-color: #062e57;margin-top:-10%;">
        <div class="row">
        <form class="form-inline" action="/users/find_tutor" method="get">
            <div class="col-sm-3 col-md-3">
              <div class="form-group form-header" style="">
                <h6 style="color:white; font-size:2.5rem; line-height:1;">Find Your</span></h6>
                <h4 style="color:#aece61; font-size:3.125rem; line-height:1;">Tutor</h4>
              </div>
            </div>
            <div class="col-sm-9 col-md-9  form-body" style="">
                <div class="form-group">
                  <input onkeydown="checkkey(event);" type="text" class="form-control searchbar-input" id="subject" placeholder="Enter a subject" name="subject">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control searchbar-input" id="location" placeholder="Location" name="location">
                </div>
                <div class="form-group">
                  <input type="number" class="form-control searchbar-input" id="zipcode" placeholder="Zipcode" name="zipcode">
                </div>
                <div class="form-group" style="padding-bottom:15px; text-align:center; margin-left:10px;">
                  <button class="button btn btn-lg" type="submit">Find Now</button>
                </div>
            </div>
        </form>
      </div>
    </div>
    </div>
  </div>
  </div><!-- /.container -->
</div><!-- /.primary -->


<script>

/*document.addEventListener("scroll", function () {
	myFunc();
}, false);

function myFunc() {
 var stickysearchbar = document.getElementById("stickysearchbar");
 var sticky = stickysearchbar.offsetTop;
 var y = window.pageYOffset;

 if(y>100){
 stickysearchbar.style = "position:sticky; top:0; padding-top:60px; z-index:50;";
 }
}*/
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.maxHeight){
      content.style.maxHeight = null;
    } else {
      content.style.maxHeight = content.scrollHeight + "px";
    }
  });
}
function gettutor(x){
  $.get('/users/gettutor?experience='+ x , function(data, status){
    console.log(data)
    console.log(data[0][0]);
  });
}

//range slider
var slider = document.getElementById("myRange");
var output = document.getElementById("demo");
output.innerHTML = slider.value;

slider.oninput = function() {
  output.innerHTML = this.value;
}

</script>
