
<style>
./****** Bootstrap Colors ******/

@gray-base: #000;
@gray-darker: lighten(@gray-base, 13.5%);
@gray-dark: lighten(@gray-base, 20%);
@gray: lighten(@gray-base, 33.5%);
@gray-light: lighten(@gray-base, 46.7%);
@gray-lighter: lighten(@gray-base, 93.5%);
@brand-primary: darken(#428bca, 6.5%);
@brand-success: #5cb85c;
@brand-info: #5bc0de;
@brand-warning: #f0ad4e;
@brand-danger: #d9534f;
@icon-font: 'Glyphicons Halflings';
@down-arrow: "\e259";
@up-arrow: "\e260";

.primary {
  min-height: 800px;
}

/*** Accordion Toggles ***/
.panel-heading {
  position: relative;

  .accordion-toggle:after {
    font-family: @icon-font;
    content: @up-arrow;
    position: absolute;
    right: 16px;
  }

  .accordion-toggle.collapsed:after {
    font-family: @icon-font;
    content: @down-arrow;
  }
}

/*** Filter Menu ***/

/* Panels */
.filter-menu {
  .panel {
    border-radius: 0;
    border: 1px solid @gray-lighter;

  }

  .panel-heading {
    background: #fff;
    padding: 0;
  }

  .panel-title {
    color: @gray-dark;
    font-weight: bold;
    display: block;
    padding: 16px;
  }

  a.panel-title {
    color: @gray-dark;

    &:hover,
    &:focus {
      color: @gray-dark;
      text-decoration: none;
    }
  }

  .panel-body {
    padding: 16px;

  }
}

/* Inner Panels */
.filter-menu .panel-group {
  margin: -16px;

  .panel-title {
    background: #eee;
    transition: color, 0.5s, ease;

    &:hover {
      color: @gray-dark;
      text-decoration: none;
      background: @gray-light;
    }
  }

  .panel + .panel {
    margin-top: 0;

  }
}

/*** Filter Menu - Mobile ***/


@mobile-menu-bg: #30404a;
@mobile-menu-bg-active: #3f5460;
@mobile-menu-border: #4B6473;
@mobile-menu-text: #f9f9f9;

/* Panels - Mobile */
.filter-menu.mobile {
  .btn-link {
    color: @mobile-menu-text;
  }
  hr {

    margin-top: 0;
    border-top-color: @mobile-menu-border;
  }
  .panel-group .panel-heading + .panel-collapse > .panel-body {
    border-color: @mobile-menu-border;
  }
  .panel {
    border-color: @mobile-menu-border;
    background: @mobile-menu-bg;
    color: @mobile-menu-text;
  }
  .panel-heading {
    background: @mobile-menu-bg;
  }
  a.panel-title {
    color: @mobile-menu-text;
  }
  a.panel-title:hover {
    color: @mobile-menu-text;
  }
  .panel-group {
    .panel {
      border-color: @mobile-menu-border;

    }
    .panel-title {
      background: @mobile-menu-bg-active;
    }
    .panel-title:hover {
      color: @mobile-menu-text;
      background: @mobile-menu-bg;
    }
  }
}


/*range slider*/
div.scroll {
  width: 350px;
  height:500px;
  overflow: auto;
}

/*slider*/
.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 10%;
  height: 5px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 25px;
  border-radius: 50%;
  background: #333;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #333;
  cursor: pointer;
}


/* Style the button that is used to open and close the collapsible content */

.collapsible {
  background-color: #f1f1f1; //color changed
  color: #444;
  cursor: pointer;
  padding: 15px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc; //color changed from ccc to aece61
}

.collapsible:after {
  content: '\002B';

  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}

@media screen and (max-width: 600px) {
  .form-group {
    width: 100%;
  }
}

/*.margin-class {
	margin-left: 18%;
	margin-right: 18%;
  margin-top: 15px;
}*/


.form-group {
  color:#134477;
}

.cont{
padding-top: 70px;
  padding-right: 200px;
}
</style>
{{>header}}
{{>overlay}}
<!-- start of searchbar--->
  <div id="stickysearchbar" class="margin-class  container" style="margin-top:10%;">
    <div class="title-margin-class"   style="background-color: #062e57;">
      <div class="row">
      <form class="form-inline" action="#" method="get">
          <div class="col-sm-3 col-md-3">
            <div class="form-group form-header" style="">
              <h6 style="color:white; font-size:2.5rem; line-height:1;">Find Your</span></h6>
              <h4 style="color:#aece61; font-size:3.125rem; line-height:1;">Tutor</h4>
            </div>
          </div>
          <div class="col-sm-9 col-md-9  form-body" style="">
              <div class="form-group">
                <input type="text" class="form-control searchbar-input" id="subject" placeholder="Enter a subject" name="subject">
              </div>
              <div class="form-group">
                <input type="text" class="form-control searchbar-input" id="location" placeholder="Location" name="location">
              </div>
              <div class="form-group">
                <input type="number" class="form-control searchbar-input" id="zipcode" placeholder="Zipcode" name="zipcode">
              </div>
              <div class="form-group" style="padding-bottom:15px; text-align:center; margin-left:10px;">
                <button id="searchbarsubmitbtn" class="button btn btn-lg" type="button">Find Now</button>
              </div>
          </div>
      </form>
    </div>
</div>
</div>
<!--end of searchbar --->
<!-- start of filter section-->
<div class="primary">
  <div class="cont">
    <div class="row">
      <div class="col-sm-4">
        <div class="scroll">
        <div class="filter-menu">
          <form>
            <div class="panel panel-default">
              <div class="panel-heading">
                <a class="panel-title accordion-toggle visible-sm-block" role="button" data-toggle="collapse" href="#collapseFilters"
                 aria-expanded="false" aria-controls="collapseFilters">
                  Filter
                </a>
                <div class="panel-title hidden-sm">
                  Filter
                </div><!-- /.panel-title -->
                <div class="panel-body">
                  <button class="btn btn-default" type="submit">Apply Filters</button>
                  <a class="btn btn-sm btn-link pull-right visible-sm-inline" href="#">Clear Selections</a>
                  <a class="btn btn-sm btn-link pull-right hidden-sm" href="#">Reset</a>
                </div><!-- /.panel-body -->
              </div><!-- /.panel-heading -->
              <div class="panel-body">
                <div class="panel-group" id="filter-menu" role="tablist" aria-multiselectable="true">
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                      <a class="panel-title accordion-toggle" role="button" data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Subjects
                      </a><!-- /.panel-title -->
                    </div><!-- /.panel-heading -->
                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                      <div class="panel-body">
                        <div class="checkbox">
                          <label><input class="filter" id="maths" value="maths" type="checkbox" name="subjects[]">Mathematics</label>
                        </div>
                        <div class="checkbox">
                          <label><input class="filter" id="science" value="science" type="checkbox" name="subjects[]">Science</label>
                        </div>
                        <div class="checkbox">
                          <label><input class="filter" id="history" value="history" type="checkbox" name="subjects[]">History</label>
                        </div>
                        <div class="checkbox">
                          <label><input class="filter" id="geography" value="geography" type="checkbox" name="subjects[]">Geography</label>
                        </div>
                        <div class="checkbox">
                          <label><input class="filter" id="english" value="english" type="checkbox" name="subjects[]">English</label>
                        </div>
                        <div class="checkbox">
                          <label><input class="filter" id="hindi" value="hindi" type="checkbox" name="subjects[]">Hindi</label>
                        </div>
                        <div class="checkbox">
                          <label><input class="filter" id="marathi" value="marathi" type="checkbox" name="subjects[]">Marathi</label>
                        </div>
                      </div><!-- /.panel-body -->
                    </div><!-- /.panel-collapse -->
                  </div><!-- /.panel -->
                  <!--<div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingTwo">
                      <a class="panel-title accordion-toggle" role="button" data-toggle="collapse" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                        Type

                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
                      <div class="panel-body">
                        <select>
                            <option value="volvo">Offline</option>
                            <option value="saab">Online</option>
                        </select>
                      </div>
                    </div>
                  </div>-->
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingThree">
                      <a class="panel-title accordion-toggle" role="button" data-toggle="collapse" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                        Grade
                      </a><!-- /.panel-title -->
                    </div><!-- /.panel-heading -->
                    <div id="collapseThree" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
                      <div class="panel-body">
                        <div class="checkbox">
                          <label><input type="checkbox" name="class[]" value="1-4">1-4</label>
                        </div>
                        <div class="checkbox">
                          <label><input type="checkbox" name="class[]" value="5-8">5-8</label>
                        </div>
                        <div class="checkbox">
                          <label><input type="checkbox" name="class[]" value="9-10">9-10</label>
                        </div>
                        <div class="checkbox">
                          <label><input type="checkbox" name="class[]" value="11-12">11-12</label>
                        </div>
                      </div><!-- /.panel-body -->
                    </div><!-- /.panel-collapse -->
                  </div><!-- /.panel -->
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingFour">
                      <a class="panel-title accordion-toggle" role="button" data-toggle="collapse" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                      Board
                      </a><!-- /.panel-title -->
                    </div><!-- /.panel-heading -->
                    <div id="collapseFour" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingFour">
                      <div class="panel-body">
                        <select>
                            <option value="state">State Board</option>
                            <option value="cbse">Cbse Board</option>
                            <option value="icse">Icse Board</option>
                        </select>
                      </div><!-- /.panel-body -->
                    </div><!-- /.panel-collapse -->
                  </div><!-- /.panel -->
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingFive">
                      <a class="panel-title accordion-toggle" role="button" data-toggle="collapse" href="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                       Fees
                      </a><!-- /.panel-title -->
                    </div><!-- /.panel-heading -->
                    <div id="collapseFive" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingFive">
                      <div class="panel-body">
                        <div class="container">
                          <div class="row">
                            <div class="col-sm-3">
                              <input type="range" min="200" max="1000" value="600" class="slider" id="myRange">
                              <p>Value: <span id="demo"></span></p>
                            </div>
                          </div>
                        </div>
                      </div><!-- /.panel-body -->
                    </div><!-- /.panel-collapse -->
                  </div><!-- /.panel -->
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingSix">
                      <a class="panel-title accordion-toggle" role="button" data-toggle="collapse" href="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
                        Tutor Gender
                      </a><!-- /.panel-title -->
                    </div><!-- /.panel-heading -->
                    <div id="collapseSix" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingSix">
                      <div class="panel-body">
                        <input type="radio" name="gender" value="male"> Male<br>
                        <input type="radio" name="gender" value="female"> Female<br>
                      </div><!-- /.panel-body -->
                    </div><!-- /.panel-collapse -->
                  </div><!-- /.panel -->
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingSeven">
                      <a class="panel-title accordion-toggle" role="button" data-toggle="collapse" href="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven">
                        Rating
                      </a><!-- /.panel-title -->
                    </div><!-- /.panel-heading -->
                    <div id="collapseSeven" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingSeven">
                      <div class="panel-body">
                        <div class="checkbox">
                          <label><input type="checkbox" name="rating[]" value="4">4 & above</label>
                        </div>
                        <div class="checkbox">
                          <label><input type="checkbox" name="rating[]" value="3">3 & above</label>
                        </div>
                        <div class="checkbox">
                          <label><input type="checkbox" name="rating[]" value="2">2 & above</label>
                        </div>
                        <div class="checkbox">
                          <label><input type="checkbox" name="format[]" value="1">1 & above</label>
                        </div>
                      </div><!-- /.panel-body -->
                    </div><!-- /.panel-collapse -->
                  </div><!-- /.panel -->
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingEight">
                      <a class="panel-title accordion-toggle" role="button" data-toggle="collapse" href="#collapseEight" aria-expanded="true" aria-controls="collapseEight">
                        Timing
                      </a><!-- /.panel-title -->
                    </div><!-- /.panel-heading -->
                    <div id="collapseEight" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingEight">
                      <div class="panel-body">
                        <div class="checkbox"><label><input type="checkbox" name="time[]" value="morning">Morning</label></div>
                        <div class="checkbox"><label><input type="checkbox" name="time[]" value="evening">Evening</label></div>
                        <div class="checkbox"><label><input type="checkbox" name="time[]" value="afternoon">Afternoon</label></div>
                      </div><!-- /.panel-body -->
                    </div><!-- /.panel-collapse -->
                  </div><!-- /.panel -->
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingNinet">
                      <a class="panel-title accordion-toggle" role="button" data-toggle="collapse" href="#collapseNine" aria-expanded="true" aria-controls="collapseNine">
                        Days
                      </a><!-- /.panel-title -->
                    </div><!-- /.panel-heading -->
                    <div id="collapseNine" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingNine">
                      <div class="panel-body">
                        <div class="checkbox"><label><input type="checkbox" name="days[]" value="monday">Monday</label></div>
                        <div class="checkbox"><label><input type="checkbox" name="days[]" value="tuesday">Tuesday</label></div>
                        <div class="checkbox"><label><input type="checkbox" name="days[]" value="wednesday">Wednesday</label></div>
                        <div class="checkbox"><label><input type="checkbox" name="days[]" value="thursday">Thursday</label></div>
                        <div class="checkbox"><label><input type="checkbox" name="days[]" value="friday">Friday</label></div>
                        <div class="checkbox"><label><input type="checkbox" name="days[]" value="satuday">Saturday</label></div>
                        <div class="checkbox"><label><input type="checkbox" name="days[]" value="sunday">Sunday</label></div>

                      </div><!-- /.panel-body -->
                    </div><!-- /.panel-collapse -->
                  </div><!-- /.panel -->

                </div><!-- /.panel-group -->
              </div><!-- /.panel-body -->
            </div><!-- /.panel -->
          </form>
        </div><!-- /.filter-menu -->
      </div>
    </div><!--scroll closed-->
    <div id="tutorslist">
    </div>
  </div>
  </div><!-- /.container -->
</div><!-- /.primary -->
<!--end of filter section-->

<script>
window.onload = function () {
  $('#tutorslist').html(sessionStorage.getItem("sessiontutors"));
   console.log('yes');
   console.log(sessionStorage.getItem("sessionsubjects"));
   var sessionsub = sessionStorage.getItem("sessionsubjects");
}

var slider = document.getElementById("myRange");
var output = document.getElementById("demo");
output.innerHTML = slider.value;

slider.oninput = function() {
  console.log(this.value);
  output.innerHTML = this.value;
}

var tutorprofilecontent = '';
var subject = [];
var fees=[];
var query = { $and: [ { subjects: { $all: ['history'] } }, { rateperhour: { $all: ['500'] } } ] };

$(".filter").click(function(){
  console.log('clicked');

 //var id = this.id;
 var name = this.name;
 console.log(this.name);
 if(name=='subjects[]'){

if(document.getElementById(this.id).checked){
  subject.push(this.id);
  console.log(this.id);
  console.log('subject pushed is '+this.id+ ' current subject array is ' +subject);

  if(subject.length!=0&&fees.length!=0){

    query = { $and: [ { subjects: { $all: subject } }, { rateperhour: { $all: fees } } ] };

  }

  if(subject.length!=0&&fees.length==0){
    query = { $and: [ { subjects: { $all: subject } }, { rateperhour: { $all: ['500'] } } ] };
  }
}else{
  var index = subject.indexOf(this.id);
  subject.splice(index, 1);
  //subject.pop(this.id);
  console.log(this.id);
  console.log('subject poped is '+this.id+ ' current subject array is ' +subject);
  if(subject.length!=0&&fees.length!=0){
    query = { $and: [ { subjects: { $all: subject } }, { rateperhour: { $all: fees } } ] };
  }else if(subject.length==0&&fees.length!=0){
    query = { $and: [ { subjects: { $all: ['history'] } }, { rateperhour: { $all: fees } } ] };
  }else if(subject.length!=0&& fees.length==0){
    query = { $and: [ { subjects: { $all: subject } }, { rateperhour: { $all: ['500'] } } ] };
  }else{
      query = { $and: [ { subjects: { $all: ['history'] } }, { rateperhour: { $all: ['500'] } } ] };
  }

}

}else if(name="rateperhour[]"){

  if(document.getElementById(this.id).checked){
    fees.push(this.id);
    console.log(this.id);
    console.log('feest pushed is '+this.id+ ' current fees array is ' +fees);

    if(subject.length!=0&&fees.length!=0){

      query = { $and: [ { subjects: { $all: subject } }, { rateperhour: { $all: fees } } ] };

    }

    if(subject.length==0&&fees.length!=0){
      query = { $and: [ { subjects: { $all: 'history' } }, { rateperhour: { $all: fees } } ] };
    }
  }else{
    var index = fees.indexOf(this.id);
    fees.splice(index, 1);
    console.log(this.id);
      console.log('feest poped is '+this.id+ ' current fees array is ' +fees);
    if(subject.length!=0&&fees.length!=0){
      query = { $and: [ { subjects: { $all: subject } }, { rateperhour: { $all: fees } } ] };
    }else if(subject.length==0&&fees.length!=0){
      query = { $and: [ { subjects: { $all: ['history'] } }, { rateperhour: { $all: fees } } ] };
    }else if(subject.length!=0&& fees.length==0){
      query = { $and: [ { subjects: { $all: subject } }, { rateperhour: { $all: ['500'] } } ] };
    }else{
        query = { $and: [ { subjects: { $all: ['history'] } }, { rateperhour: { $all: ['500'] } } ] };
    }

  }
}else{
  alert('something is wrong');
  query = { $and: [ { subjects: { $all: ['history'] } }, { rateperhour: { $all: ['500'] } } ] };
}
var  x = JSON.stringify(query);
$.ajax({
  type:'GET',
  url: '/findtutor/filter?search='+x,
  success: function(data){
    if(data.length==0){
       $('#tutorslist').html('<p style="text-align:center;">Sorry! No tutors matched</p>');
    }else{
    $.each(data, function(i, tutor){
      tutorprofilecontent += '<div class="col-sm-4 col-md-4">';
      tutorprofilecontent += '<div  class="card" style="width:225px">'
      tutorprofilecontent += '<img class="card-img-top" alt="Card image" style="width:100%" src=/images/'+this.image+'>'
      //tutorprofilecontent += '<img class="card-img-top" alt="Card image" style="width:100%" src="/images/img_avatar3">'
      tutorprofilecontent += '<div  class="card-body tutor-card-body">';
      tutorprofilecontent += '<h4  style="color: #134477;" class="card-title">'+ this.firstname + ' ' + this.lastname+'</h4>';
      tutorprofilecontent += '<p id="emailpara" style="color:#91959a; display:none" class="card-text">' + this.email + '</p>';
      tutorprofilecontent += '<a class="view_tut_btn button btn btn-lg" href=/users/view_tutor?email='+ this.email +'>View Tutor</a>';
      tutorprofilecontent += '</div>';
      tutorprofilecontent += '</div>';
      tutorprofilecontent += '</div>';

    });
    $('#tutorslist').html(tutorprofilecontent);
    //var sessiontutors = tutorprofilecontent;
    sessionStorage.setItem("sessiontutors", tutorprofilecontent);
    sessionStorage.setItem("sessionsubjects", subject);
    //console.log(sessionStorage.getItem("sessiontutors"));
    tutorprofilecontent = '';
  }
  },
});
});

$("#searchbarsubmitbtn").click(function(e) {
  console.log('searchbar')
    e.preventDefault(); // avoid to execute the actual submit of the form.
    var x = '';
    var query = {}
    var form = $(this);
    var subject = $('#subject').val();
    var location = $('#location').val();
    var zipcode = $('#zipcode').val();
    if(subject.length!=0 && location.length!=0 && zipcode.length!=0){
          query = {$and: [{subjects:subject}, {availablearea:location}, {zipcode: zipcode}]};
      }else if(subject.length!=0&&location.length!=0){
        query = {subjects:subject, availablearea:location, zipcode:'400604'};
      }else if(location.length!=0 && zipcode.length!=0){
      query = {subjects:'history', availablearea:location, zipcode: zipcode};
    }else if(subject.length!=0  && zipcode.length!=0){
        query = {subjects:subject, availablearea:'thane', zipcode: zipcode};
      }else if(subject.length!=0){
        query = {subjects:subject, availablearea:'thane', zipcode: '400604'};
      }else if(location.length!=0){
        query = {subjects:'history', availablearea:location, zipcode: '400604'};
      }else if(zipcode.length!=0){
        query = {subjects:'history', availablearea:'thane', zipcode: zipcode};
      }else{
        console.log('nothing');
      }

      x= JSON.stringify(query);

      $.ajax({
           type: "GET",
           url: '/findtutor/filter?search='+x,
           data: form.serialize(), // serializes the form's elements.
           success: function(data){
             if(data.length==0){
                $('#tutorslist').html('<p style="text-align:center;">Sorry! No tutors matched</p>');
             }else{
             document.getElementById('loader').style.display = 'none';
             $.each(data, function(i, tutor){
               tutorprofilecontent += '<div class="col-sm-4 col-md-4">';
               tutorprofilecontent += '<div  class="card" style="width:225px">'
               tutorprofilecontent += '<img class="card-img-top" alt="Card image" style="width:100%" src=/images/'+this.image+'>'
               //tutorprofilecontent += '<img class="card-img-top" alt="Card image" style="width:100%" src="#">'
               tutorprofilecontent += '<div  class="card-body tutor-card-body">';
               tutorprofilecontent += '<h4  style="color: #134477;" class="card-title">'+ this.firstname + ' ' + this.lastname+'</h4>';
               tutorprofilecontent += '<p id="emailpara" style="color:#91959a; display:none" class="card-text">' + this.email + '</p>';
               tutorprofilecontent += '<a class="view_tut_btn button btn btn-lg" href=/users/view_tutor?email='+ this.email +'>View Tutor</a>';
               tutorprofilecontent += '</div>';
               tutorprofilecontent += '</div>';
               tutorprofilecontent += '</div>';

             });
             $('#tutorslist').html(tutorprofilecontent);
             //var sessiontutors = tutorprofilecontent;
             sessionStorage.setItem("sessiontutors", tutorprofilecontent);
             //console.log(sessionStorage.getItem("sessiontutors"));
             tutorprofilecontent = '';
           }
           },
         });
});


/*$(".filter").click(function(){
  console.log(this.id);
  console.log(this.name);
})*/


/*document.addEventListener("scroll", function () {
	myFunc();
}, false);

function myFunc() {
 var stickysearchbar = document.getElementById("stickysearchbar");
 var sticky = stickysearchbar.offsetTop;
 var y = window.pageYOffset;

 if(y>100){
 stickysearchbar.style = "position:sticky; top:0; padding-top:60px; z-index:50;";
 }
}*/

var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.maxHeight){
      content.style.maxHeight = null;
    } else {
      content.style.maxHeight = content.scrollHeight + "px";
    }
  });
}
function gettutor(x){
  $.get('/users/gettutor?experience='+ x , function(data, status){
    console.log(data)
    console.log(data[0][0]);
  });
}

var subject = [];
var fees = []
//var query = { $and: [ {subjects:'history'}, {rateperhour:'400'} ] };


/*function filtervalue(x){
  if(x.name=='subjects[]')
    {
        if(x.checked)
          {
              subject.push(x.value);
              query = { $and: [ {subjects:subject}, {rateperhour:'400'} ] };
              if(fees.length!=0){

                query = { $and: [ {subjects:subject}, {rateperhour:fees} ] };
              }else{
                query = { $and: [ {subjects:subject}, {rateperhour:'400'} ] };
              }

          }
          else
          {
              subject.pop(x.value);
              query = { $and: [ {subjects:'history'}, {rateperhour:'400'} ] };

              if(subject.length==0 && fees.length==0){
                query = { $and: [ {subjects:'history'}, {rateperhour:'400'} ] };
              }else if(subject.length!=0&&fees.length==0){
                query = { $and: [ {subjects:subject}, {rateperhour:'400'} ] };
              }else if(subject.length=0&&fees.length!=0){
                query = { $and: [ {subjects:'history'}, {rateperhour:fees} ] };
              }else{
                  query = { $and: [ {subjects:'history'}, {rateperhour:'400'} ] };
              }

          }
    }
    else if(x.name =='rateperhour[]')
    {
      if(x.checked)
        {
            subject.push(x.value);
            if(fees){
              query = { $and: [ {subjects:subject}, {rateperhour:fees} ] };
            }else{
              query = { $and: [ {subjects:subject}, {rateperhour:'400'} ] };
            }

        }
        else
        {
            subject.pop(x.value);
            if(subject.length==0 && fees.length==0){
              query = { $and: [ {subjects:'history'}, {rateperhour:'400'} ] };
            }else if(subject.length!=0&&fees.length==0){
              query = { $and: [ {subjects:subject}, {rateperhour:'400'} ] };
            }else if(subject.length=0&&fees.length!=0){
              query = { $and: [ {subjects:'history'}, {rateperhour:fees} ] };
            }else{
                query = { $and: [ {subjects:'history'}, {rateperhour:'400'} ] };
            }

        }
    }
    else
    {
         query = { $and: [ {subjects:'history'}, {rateperhour:'400'} ] };
       }
       if(x.checked){
         var query={subjects:'history'};
          searchtutor(query);
       }else{
         var query = {}
         searchtutor(query);
       }

}*/

/*var tutorprofilecontent = '';
function searchtutor(x){
  $('#tutorsprofile').html('');
  console.log(x);
  x = JSON.stringify(x);
$.getJSON('/findtutor/find_tutor?search='+x , function(data){
console.log(data.tutors[0]);
console.log(data.tutors.length);
$.each(data.tutors[0], function(data){
tutorprofilecontent += '<div class="col-sm-4 col-md-4">';
tutorprofilecontent += '<div  class="card" style="width:225px">'
//tutorprofilecontent += '<img class="card-img-top" src="/images/" + this.image' + 'alt="Card image" style="width:100%">';
tutorprofilecontent += '<div  class="card-body tutor-card-body">';
tutorprofilecontent += '<h4  style="color: #134477;" class="card-title">'+ this.firstname + ' ' + this.lastname+'</h4>';
tutorprofilecontent += '<p  style="color:#91959a;" class="card-text">' + this.subjects + '</p>';
//tutorprofilecontent += '<button onclick="location.href='/users/view_tutor?email='' + this.email + 'class="view_tut_btn button btn btn-lg" type="button">View Tutor</button>';
tutorprofilecontent += '<button class="view_tut_btn button btn btn-lg" type="button">View Tutor</button>';
tutorprofilecontent += '</div>';
tutorprofilecontent += '</div>';
tutorprofilecontent += '</div>';

});
$('#tutorsprofile').html(tutorprofilecontent);
});
}*/

//range slider
var slider = document.getElementById("myRange");
var output = document.getElementById("demo");
output.innerHTML = slider.value;

slider.oninput = function() {
  output.innerHTML = this.value;
}

</script>
