{{>home_header}}
{{>alert}}
{{>overlay}}
{{>requirement-modal}}
<script>

document.addEventListener("scroll", function () {
	myFunc();
}, false);

function myFunc() {
 var navbar = document.getElementById("navbar");
 var sticky = navbar.offsetTop;
 //var stickysearchbar = document.getElementById("stickysearchbar");
 //var stickysearch = stickysearchbar.offsetTop;
 var y = window.pageYOffset;

 if(y>100){
 navbar.style = "background-color:#062e57;";
 }

/*if(y>600){
 stickysearchbar.style = "position:sticky; top:0; padding-top:60px; z-index:100;";
}*/

/*if(y<600){
	myFuncEndforSearchBar();
}*/

 myFuncEnd();
 //myFuncEndforSearchBar();
}

function myFuncEnd(){
	var y =window.pageYOffset;
	if(y<10){
	var navbar = document.getElementById("navbar");
	navbar.style = "background:transparent; border:none;";
}
}

/*function myFuncEndforSearchBar(){
		var stickysearchbar = document.getElementById("stickysearchbar");
		stickysearchbar.style = "padding-top:0px";
}*/

function checkkey(event) {
  var x = event.key;

	if(!isNaN(x)){
		alert('wrong input');
	}
}

</script>

<div id="myCarousel" class="carousel" data-ride="carousel" data-interval="3000"><!-- home page carousel-->
<!-- Wrapper for slides -->
	<div class="carousel-inner" role="listbox">
		  <div class="item active">
				<img src="http://smarthead.ancorathemes.com/wp-content/uploads/2017/01/slide3.jpg" alt="Image">
				<div class="carousel-caption">
				  <p>Personal and Online Tutors</p>
				  <h1 style="font-size:5em;">Time to Learn</h1>
				  <button  class="button btn btn-lg" type="button" data-toggle="modal" data-target="#myModal">Find Tutor Now</button>
					<!--<button onclick="location.href='/users/find_tutor'" class="button btn btn-lg" type="button" data-target="#myModal">Find Tutor Now</button>-->
				</div>
		  </div>
		  <div class="item">
				<img src="http://smarthead.ancorathemes.com/wp-content/uploads/2017/01/slide2.jpg" alt="Image">
				<div class="carousel-caption">
				  <p>Personal and Online Tutors</p>
				  <h1 style="font-size:5em;">Top Tutorring Services</h1>
				  <button  class="button btn btn-lg" type="button" data-toggle="modal" data-target="#myModal">Find Tutor Now</button>

				</div>
		  </div>
		  <div class="item">
				<img src="http://smarthead.ancorathemes.com/wp-content/uploads/2017/01/slide1.jpg" alt="Image">
				<div class="carousel-caption">
				 <p>Personal and Online Tutors</p>
				  <h1 style="font-size:5em;">Find Private Tutor</h1>
				  <button  class="button btn btn-lg" type="button" data-toggle="modal" data-target="#myModal">Find Tutor Now</button>
				</div>
		  </div>
		</div>
		<!----------- start of search bar----------------->
		<div id="stickysearchbar" class="margin-class" style="">
			<div class="title-margin-class" style="background-color:#062e57;">
				<form class="form-inline" action="#">
					<div class="row">
						<div class="col-sm-3" >
							<div class="form-group form-header">
								<h6 style="color:white; font-size:2.5rem; line-height:1;">Find Your</span></h6>
								<h4 style="color:#aece61; font-size:3.125rem; line-height:1;">Tutor</h4>
							</div>
						</div>
						<div class="col-sm-9" style="padding-top:20px;">
								<div class="form-group">
									<input onkeydown="checkkey(event);" type="text" class="form-control searchbar-input" id="subject" placeholder="Enter a subject" name="subject">
								</div>
								<div class="form-group">
									<input type="text" class="form-control searchbar-input" id="location" placeholder="Location" name="location">
								</div>
								<div class="form-group">
									<input type="number" class="form-control searchbar-input" id="zipcode" placeholder="Zipcode" name="zipcode">
								</div>
								<div class="form-group" style="padding-bottom:15px; text-align:center; margin-left:10px;">
									<button onclick="location.href='/users/find_tutor'" class="button btn btn-lg" type="button">Find Now</button>
								</div>
						</div>
					</div>
				</form>
		</div>
	</div>
		<!-----------end of search  bar ----------------->

	</div> <!----------- end of carousel ----------------->

<h2>{{username}}</h2>

<!--------- start of video presentation section------------>
<div id="useful" class="section-margin">
	<div class="margin-class">
		<div class="title-margin-class">
			<p class="title_info" style="color: #91959a;">We provide the best tutoring service</p>
			<h1 style="color: #134477;">Useful <span style="color: #aece61;"> Information</span></h1>
		</div>
		<div class="within-sec-margin title-margin-class">
			<iframe width="100%" height="400px" src="https://www.youtube.com/embed/vqNqnlP73dY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
			</iframe>
		</div>
	</div>
</div>
 <!--------- end of video presentation section------------>

 <!---- start of first how we work section---->
<div style="background-image: url(http://smarthead.ancorathemes.com/wp-content/uploads/2016/12/bg_guarantee.jpg?id=211);">
	<div id="" class="section-margin margin-class" style="padding-top:6%; padding-bottom:6%;">
	<div class="title-margin-class">
		<div class="">
			<p class="title_info" style="color: #91959a;">We provide the best tutoring service</p>
			<h1 style="color:white;">Useful <span style="color: #aece61;"> Information</span></h1>
		</div>
		<div class="row within-sec-margin">
			<div class="col-md-4 col-sm-12 col-xs-12">
                <div class="col-md-12">
                    <div class="service-box">
                        <span class="howwework_icon app_icon fas fa-mobile-alt"></span>
												<h4 style="color:white;">Download The Qriyo App</h4>
												<h5 style="color: #91959a;">One stop solution to all your home tuition needs. Academics to Zumba</h5>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="service-box">
                        <span class="howwework_icon file_icon fas fa-mobile-alt"></span>
												<h4 style="color:white;">Download The Qriyo App</h4>
												<h5 style="color: #91959a;">One stop solution to all your home tuition needs. Academics to Zumba</h5>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="service-box">
                        <span class="howwework_icon demo_icon fas fa-mobile-alt"></span>
												<h4 style="color:white;">Download The Qriyo App</h4>
												<h5 style="color: #91959a;">One stop solution to all your home tuition needs. Academics to Zumba</h5>
                    </div>
                </div>
            </div>
			<div class="col-md-4 col-sm-12 col-xs-12 text-center">
                <div class="img-responsive mobile-screen">
									<video width="320" height="400" controls>
  									<source src="https://cdn.dribbble.com/users/28455/screenshots/1332390/attachments/188152/onboarding-tour.mp4" type="video/mp4">
									</video>
								</div>
            </div>
			<div class="col-md-4 col-sm-12 col-xs-12">
                <div class="col-md-12">
                    <div class="service-box">
                        <span class="howwework_icon app_icon fas fa-mobile-alt"></span>
												<h4 style="color:white;">Download The Qriyo App</h4>
												<h5 style="color: #91959a;">One stop solution to all your home tuition needs. Academics to Zumba</h5>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="service-box">
                        <span class="howwework_icon file_icon fas fa-mobile-alt"></span>
												<h4 style="color:white;">Download The Qriyo App</h4>
												<h5 style="color: #91959a;">One stop solution to all your home tuition needs. Academics to Zumba</h5>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="service-box">
                        <span class="howwework_icon demo_icon fas fa-mobile-alt"></span>
												<h4 style="color:white;">Download The Qriyo App</h4>
												<h5 style="color: #91959a;">One stop solution to all your home tuition needs. Academics to Zumba</h5>
                    </div>
                </div>
            </div>
		</div>
	</div>
	</div>
</div>
 <!--- end of first how  we work section---->

 <!-- start of third how we work section --->
 <div class="container-fluid">
	<div class="row margin-class section-margin">
	<div class="title-margin-class">
		<div class="col-md-12">
			<div class="">
  			<p class="title_info" style="color: #91959a;">We provide the best tutoring service</p>
  			<h1 style="color: #134477;">Useful <span style="color: #aece61;"> Information</span></h1>
  		</div>
			<div  class="row within-sec-margin">
				<div class="features">
					<div class="col-md-3 col-sm-6">
                        <div class="feature-wrap clickMe" data-url="/learn/#/request/yoga-trainer">
                            <div class="h200 h150">
                                <span class="all_card_icon yoga_icon fas fa-mobile-alt"></span>
                                <h2 class="h2 h40"> <a> Yoga </a></h2>
                                <p>Everyday Yoga for General Fitness, Meditation, Yoga for Weight-loss</p>
                            </div>
                        </div>
                    </div>
					<div class="col-md-3 col-sm-6">
                        <div class="feature-wrap clickMe" data-url="/learn/#/request/yoga-trainer">
                            <div class="h200 h150">
                                <span class="all_card_icon yoga_icon fas fa-mobile-alt"></span>
                                <h2 class="h2 h40"> <a> Yoga </a></h2>
                                <p>Everyday Yoga for General Fitness, Meditation, Yoga for Weight-loss</p>
                            </div>
                        </div>
                    </div>
					<div class="col-md-3 col-sm-6">
                        <div class="feature-wrap clickMe" data-url="/learn/#/request/yoga-trainer">
                            <div class="h200 h150">
                                <span class="all_card_icon yoga_icon fas fa-mobile-alt"></span>
                                <h2 class="h2 h40"> <a> Yoga </a></h2>
                                <p>Everyday Yoga for General Fitness, Meditation, Yoga for Weight-loss</p>
                            </div>
                        </div>
                    </div>
					<div class="col-md-3 col-sm-6">
                        <div class="feature-wrap clickMe" data-url="/learn/#/request/yoga-trainer">
                            <div class="h200 h150">
                                <span class="all_card_icon yoga_icon fas fa-mobile-alt"></span>
                                <h2 class="h2 h40"> <a> Yoga </a></h2>
                                <p>Everyday Yoga for General Fitness, Meditation, Yoga for Weight-loss</p>
                            </div>
                        </div>
                    </div>
					<div class="col-md-3 col-sm-6">
                        <div class="feature-wrap clickMe" data-url="/learn/#/request/yoga-trainer">
                            <div class="h200 h150">
                                <span class="all_card_icon yoga_icon fas fa-mobile-alt"></span>
                                <h2 class="h2 h40"> <a> Yoga </a></h2>
                                <p>Everyday Yoga for General Fitness, Meditation, Yoga for Weight-loss</p>
                            </div>
                        </div>
                    </div>
					<div class="col-md-3 col-sm-6">
                        <div class="feature-wrap clickMe" data-url="/learn/#/request/yoga-trainer">
                            <div class="h200 h150">
                                <span class="all_card_icon yoga_icon fas fa-mobile-alt"></span>
                                <h2 class="h2 h40"> <a> Yoga </a></h2>
                                <p>Everyday Yoga for General Fitness, Meditation, Yoga for Weight-loss</p>
                            </div>
                        </div>
                    </div>
					<div class="col-md-3 col-sm-6">
                        <div class="feature-wrap clickMe" data-url="/learn/#/request/yoga-trainer">
                            <div class="h200 h150">
                                <span class="all_card_icon yoga_icon fas fa-mobile-alt"></span>
                                <h2 class="h2 h40"> <a> Yoga </a></h2>
                                <p>Everyday Yoga for General Fitness, Meditation, Yoga for Weight-loss</p>
                            </div>
                        </div>
                    </div>
					<div class="col-md-3 col-sm-6">
                        <div class="feature-wrap clickMe" data-url="/learn/#/request/yoga-trainer">
                            <div class="h200 h150">
                                <span class="all_card_icon yoga_icon fas fa-mobile-alt"></span>
                                <h2 class="h2 h40"> <a> Yoga </a></h2>
                                <p>Everyday Yoga for General Fitness, Meditation, Yoga for Weight-loss</p>
                            </div>
                        </div>
                    </div>
				</div>
			</div>
		</div>
		</div>
	</div>
 </div>
 <!-- end of third how we work section --->
 <!--------- start of three important features section ------------>
<div class="imageDiv section-margin">
	<div class="margin-class" style="padding-top:6%; padding-bottom:6%;">
		<div class="title-margin-class" style="display:block;">
			<h4 style="color: #91959a;">All tutors are guranteed by us</h4>
			<h1 style="color:white;">100% <span style="color: #aece61;">Guarantee</span></h1>
		</div>
		<div class="row title-margin-class within-sec-margin" style="display:block; margin-bottom:2%;">
			<div class="col-sm-4" style="padding-right:15px;">
				<div style="font-size:1.5em; padding-bottom:7%;">
					<i class="fas fa-award"></i>
					<span>Professional Tutors</span>
				</div>
				<div style="padding-left:7%;">
					<p style="color: #91959a;">Et scaevola delicata vix, mea ei invidunt indoctum, quodsi eripuit definiebas at pri. Placerat voluptaria ex mel. Eos malis</p>
				</div>
			</div>
			<div class="col-sm-4">
				<div style="font-size:1.5em; padding-bottom:7%;">
					<i class="fas fa-award"></i>
					<span>Professional Tutors</span>
				</div>
				<div style="padding-left:7%;">
					<p style="color: #91959a;">Et scaevola delicata vix, mea ei invidunt indoctum, quodsi eripuit definiebas at pri. Placerat voluptaria ex mel. Eos malis</p>
				</div>
			</div>
			<div class="col-sm-4">
				<div style="font-size:1.5em; padding-bottom:7%;">
					<i class="fas fa-award"></i>
					<span>Professional Tutors</span>
				</div>
				<div style="padding-left:7%;">
					<p style="color: #91959a;">Et scaevola delicata vix, mea ei invidunt indoctum, quodsi eripuit definiebas at pri. Placerat voluptaria ex mel. Eos malis</p>
				</div>
			</div>
		</div>
	</div>
</div>
<!--------- end of three important features section ------------>

<!--------- start of tutor profile section ------------>
<div class="section-margin">
	<div class="margin-class">
		<div class="title-margin-class">
			<p  style="color: #91959a;" class="title_info">Find the Right Tutor for You</p>
			<h1 style="color: #134477;">Featured <span style="color: #aece61;">Tutors</span></h1>
		</div>
		<div class="row title-margin-class within-sec-margin">
			<div class="col-sm-4">
				<div class="card" style="width:250px">
					<img class="card-img-top" src="http://smarthead.ancorathemes.com/wp-content/uploads/2016/11/tutor2-740x792.jpg" alt="Card image" style="width:100%">
					<div class="card-body tutor-card-body">
						<h4 style="color: #134477;" class="card-title">John Doe</h4>
						<p style="color:#91959a;" class="card-text">HISTORY, GEOGRAPHY, ECONOMICS</p>
						<button onclick="location.href='/users/view_tutor'" class="view_tut_btn button btn btn-lg" type="button">View Tutor</button>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="card" style="width:250px">
					<img class="card-img-top" src="http://smarthead.ancorathemes.com/wp-content/uploads/2016/11/tutor2-740x792.jpg" alt="Card image" style="width:100%">
					<div class="card-body tutor-card-body">
						<h4 style="color: #134477;" class="card-title">John Doe</h4>
						<p style="color:#91959a;" class="card-text">HISTORY, GEOGRAPHY, ECONOMICS</p>
						<button class="view_tut_btn button btn btn-lg" type="button">View Tutor</button>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="card" style="width:250px">
					<img class="card-img-top" src="http://smarthead.ancorathemes.com/wp-content/uploads/2016/11/tutor2-740x792.jpg" alt="Card image" style="width:100%">
					<div class="card-body tutor-card-body">
						<h4 style="color: #134477;" class="card-title">John Doe</h4>
						<p style="color:#91959a;" class="card-text">HISTORY, GEOGRAPHY, ECONOMICS</p>
						<button class="view_tut_btn button btn btn-lg" type="button">View Tutor</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--------- end of tutor profile section ------------>

<!--------- start of help heading section ------------>
<div class="margin-class section-margin">
	<div class="row title-margin-class" style="margin-bottom:30px;">
		<div class="col-sm-9">
			<h1 style="color: #134477;">Want to become tutor in<span style="color: #aece61;"> Tutorry?</span></h1>
			<h5 style="color: #91959a; font-size:1.3em;">SmartHead collaborate professional and talented tutors from all over the world! Join us right now!</h5>
		</div>
		<div class="col-sm-3">
			<button onclick="location.href='/users/tutor_registration'" class="button btn btn-lg" type="button">Register Now</button>
		</div>
	</div>
</div>
<!--------- end of help heading section ------------>

<!--------- start of help banner section ------------>
<div class="help-banner" style="background-image: url(http://smarthead.ancorathemes.com/wp-content/uploads/2016/12/bg_cta.jpg?id=224); ">

	<div style="color:white; text-align:center; padding-top:10%;">
		<h6>Call Us 800-123-4567</h6>
		<h1>Do You Need Help?</h1>
		<p>Our specialists can help you with finding the right tutor for you or your kids</p>
		<button onclick="location.href='/users/contact'" class="button btn btn-lg" type="button">Contact Now</button>
	</div>

</div>
<!--------- end of help banner section ------------>

<!---- start of second how we work section---->
<div class="container-fluid grey_bg section-margin">
 <div class="margin-class row" style="padding-top:6%; padding-bottom:6%;">
	 <div class="col-md-12">
		 <div class="">
 			<p class="title_info" style="color: #91959a;">We provide the best tutoring service</p>
 			<h1 style="color: #134477;">Useful <span style="color: #aece61;"> Information</span></h1>
 		</div>
		 <div style="padding-top:15px;" class="row within-sec-margin">
			 <div class="features">
				 <div class="col-md-4 col-sm-6">
											 <div class="feature-wrap clickMe" data-url="/learn/#/request/home-tutor-academics">
													 <span class="all_card_icon allclass_icon fas fa-mobile-alt"></span>
													 <div class="h2">
							 <h3>School Tuitions</h3>
						 </div>
													 <p style="color: #91959a;">Get Home Tutors for Kindergarten to Class 12th</p>
											 </div>
									 </div>
				 <div class="col-md-4 col-sm-6">
											 <div class="feature-wrap clickMe" data-url="/learn/#/request/home-tutor-academics">
													 <span class="all_card_icon allclass_icon fas fa-mobile-alt"></span>
													 <div class="h2">
							 <h3>School Tuitions</h3>
						 </div>
													 <p style="color: #91959a;">Get Home Tutors for Kindergarten to Class 12th</p>
											 </div>
									 </div>
				 <div class="col-md-4 col-sm-6">
											 <div class="feature-wrap clickMe" data-url="/learn/#/request/home-tutor-academics">
													 <span class="all_card_icon allclass_icon fas fa-mobile-alt"></span>
													 <div class="h2">
							 <h3>School Tuitions</h3>
						 </div>
													 <p style="color: #91959a;">Get Home Tutors for Kindergarten to Class 12th</p>
											 </div>
									 </div>
			 </div>
		 </div>
	 </div>
 </div>
</div>
<!---- end of second how we work section---->



<div class="testimonial section-margin">
	<div class="margin-class" style="padding-top:6%; padding-bottom:6%;">
		<div class="title-margin-class" style="display:block;">
			<h4 style="color: #91959a;">Happy Clients Said About Our Service</h4>
			<h1 style="color:white;">Our<span style="color: #aece61;">  Testimonials</span></h1>
		</div>
		<div class="row title-margin-class">
			<div class="col-xs-6"><!--start of first box-->
				<div style="margin-top:6%;" id="text-carousel" class="carousel slide" data-ride="carousel">
				   <div class="carousel-inner">
				      	<div class="item active">
				             <div class="carousel-content">
				                  <div style="padding:12px 15px 12px 15px; background-color:rgba(255,255,255,0.1); color:white;">
															 <div>
				                        <h3>"I Enjoyed Every Lesson"</h3>
															</div>
															<div style="padding-top:10px; text-align:justify;">
																<p>My dream has come true! I was able to start working on getting my degree, and if it wasn’t for your help, it would have taken me quite some time to reach the goal. Thank you very much, and please, continue your great job!</p>
															</div>
													</div>
													<div style="margin-left:30px; margin-top:-21px;">
															<i class='fas fa-caret-down' style='font-size:60px; color:rgba(255,255,255,0.1);'></i>
															<h4 style="color:white;">Pamela Raymond</h4>
													</div>
										  </div>
				        </div>
								<div class="item">
										<div class="carousel-content">
											<div style="padding:12px 15px 12px 15px; background-color:rgba(255,255,255,0.1); color:white;">
												<div>
													<h3>"I Enjoyed Every Lesson"</h3>
												</div>
												<div style="padding-top:10px;">
													<p>My dream has come true! I was able to start working on getting my degree, and if it wasn’t for your help, it would have taken me quite some time to reach the goal. Thank you very much, and please, continue your great job!</p>
												</div>
										</div>
										<div style="margin-left:30px; margin-top:-21px;">
												<i class='fas fa-caret-down' style='font-size:60px; color:rgba(255,255,255,0.1);'></i>
												<h4 style="color:white;">Pamela Raymond</h4>
										</div>
									</div>
								</div>
								<div class="item">
										<div class="carousel-content">
											<div style="padding:12px 15px 12px 15px; background-color:rgba(255,255,255,0.1); color:white;">
												<div>
													<h3>"I Enjoyed Every Lesson"</h3>
												</div>
												<div style="padding-top:10px;">
													<p>My dream has come true! I was able to start working on getting my degree, and if it wasn’t for your help, it would have taken me quite some time to reach the goal. Thank you very much, and please, continue your great job!</p>
												</div>
										</div>
										<div style="margin-left:30px; margin-top:-21px;">
												<i class='fas fa-caret-down' style='font-size:60px; color:rgba(255,255,255,0.1);'></i>
												<h4 style="color:white;">Pamela Raymond</h4>
										</div>
								</div>
							</div>
						</div>
					</div>
				</div><!--end of first box-->
				<div class="col-xs-6"><!--start of first box-->
					<div style="margin-top:6%;" id="text-carousel" class="carousel slide" data-ride="carousel">
					   <div class="carousel-inner">
					      	<div class="item active">
					             <div class="carousel-content">
					                  <div style="padding:12px 15px 12px 15px; background-color:rgba(255,255,255,0.1); color:white;">
																 <div>
					                        <h3>"I Enjoyed Every Lesson"</h3>
																</div>
																<div style="padding-top:10px;">
																	<p>My dream has come true! I was able to start working on getting my degree, and if it wasn’t for your help, it would have taken me quite some time to reach the goal. Thank you very much, and please, continue your great job!</p>
																</div>
														</div>
														<div style="margin-left:30px; margin-top:-21px;">
																<i class='fas fa-caret-down' style='font-size:60px; color:rgba(255,255,255,0.1);'></i>
																<h4 style="color:white;">Pamela Raymond</h4>
														</div>
					              </div>
					        </div>
									<div class="item">
											<div class="carousel-content">
												<div style="padding:12px 15px 12px 15px; background-color:rgba(255,255,255,0.1); color:white;">
													<div>
														<h3>"I Enjoyed Every Lesson"</h3>
													</div>
													<div style="padding-top:10px;">
														<p>My dream has come true! I was able to start working on getting my degree, and if it wasn’t for your help, it would have taken me quite some time to reach the goal. Thank you very much, and please, continue your great job!</p>
													</div>
											</div>
											<div style="margin-left:30px; margin-top:-21px;">
													<i class='fas fa-caret-down' style='font-size:60px; color:rgba(255,255,255,0.1);'></i>
													<h4 style="color:white;">Pamela Raymond</h4>
											</div>
										</div>
									</div>
									<div class="item">
											<div class="carousel-content">
												<div style="padding:12px 15px 12px 15px; background-color:rgba(255,255,255,0.1); color:white;">
													<div>
														<h3>"I Enjoyed Every Lesson"</h3>
													</div>
													<div style="padding-top:10px;">
														<p>My dream has come true! I was able to start working on getting my degree, and if it wasn’t for your help, it would have taken me quite some time to reach the goal. Thank you very much, and please, continue your great job!</p>
													</div>
											</div>
											<div style="margin-left:30px; margin-top:-21px;">
													<i class='fas fa-caret-down' style='font-size:60px; color:rgba(255,255,255,0.1);'></i>
													<h4 style="color:white;">Pamela Raymond</h4>
											</div>
									</div>
								</div>
							</div>
						</div>
					</div><!--end of first box-->
			</div>
		</div>
</div>

<!-- start of fourth how we work section --->
 <div class="container-fluid">
	<div  class="row margin-class section-margin">
	<div class="title-margin-class">
		<div class="col-md-12">
			<div class="">
  			<p class="title_info" style="color: #91959a;">We provide the best tutoring service</p>
  			<h1 style="color: #134477;">Useful <span style="color: #aece61;"> Information</span></h1>
  		</div>
			<div class="row within-sec-margin">
				<div class="col-md-3 col-sm-12">
					<div style="text-align:center;">
						<p class="guarantee_icon"></p>
					</div>
					<div style="text-align:center;">
						<div class="h2">Most Customers Love Our First Classes</div>
						<p>If you don't like our Qriyo Guru, we will replace him/her.</p>
					</div>
				</div>
				<div class="col-md-9 col-xs-12">
					<div class="col-md-4 col-xs-12">
						<div class="service-box">
							<div class="servie-image">
								<span style="font-size:64px;" class="whyqriyo_icon fas fa-mobile-alt"></span>
							</div>
							<h5>PERFECT TUTOR</h5>
							<p>Our matchmaking algorithm matches one perfect tutor for you. No more browsing through endless profiles</p>
						</div>
					</div>
					<div class="col-md-4 col-xs-12">
						<div class="service-box">
							<div class="servie-image">
								<span style="font-size:64px;" class="whyqriyo_icon fas fa-mobile-alt"></span>
							</div>
							<h5>PERFECT TUTOR</h5>
							<p>Our matchmaking algorithm matches one perfect tutor for you. No more browsing through endless profiles</p>
						</div>
					</div>
					<div class="col-md-4 col-xs-12">
						<div class="service-box">
							<div class="servie-image">
								<span style="font-size:64px;" class="whyqriyo_icon fas fa-mobile-alt"></span>
							</div>
							<h5>PERFECT TUTOR</h5>
							<p>Our matchmaking algorithm matches one perfect tutor for you. No more browsing through endless profiles</p>
						</div>
					</div>
					<div class="col-md-4 col-xs-12">
						<div class="service-box">
							<div class="servie-image">
								<span style="font-size:64px;" class="whyqriyo_icon fas fa-mobile-alt"></span>
							</div>
							<h5>PERFECT TUTOR</h5>
							<p>Our matchmaking algorithm matches one perfect tutor for you. No more browsing through endless profiles</p>
						</div>
					</div>
					<div class="col-md-4 col-xs-12">
						<div class="service-box">
							<div class="servie-image">
								<span style="font-size:64px;" class="whyqriyo_icon fas fa-mobile-alt"></span>
							</div>
							<h5>PERFECT TUTOR</h5>
							<p>Our matchmaking algorithm matches one perfect tutor for you. No more browsing through endless profiles</p>
						</div>
					</div>
					<div class="col-md-4 col-xs-12">
						<div class="service-box">
							<div class="servie-image">
								<span style="font-size:64px;" class="whyqriyo_icon fas fa-mobile-alt"></span>
							</div>
							<h5>PERFECT TUTOR</h5>
							<p>Our matchmaking algorithm matches one perfect tutor for you. No more browsing through endless profiles</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>
	</div>
 </div>
 <!-- end of fourth how we work section --->
