{{>header}}
{{>alert}}
<div id="passwordRecovery-form" class="login" style="border:solid gray 1px;; margin:auto; margin-top:10%; text-align:center;">
  <div style="margin-top:30px;">
  <div style="font-size:3em;">
    <span style="color: #aece61;" class="fas fa-book-reader"></span>
    <span>Tutorry</span>
  </div>
  <div  style="margin:20px 60px 20px 60px; color:black;">
    <div>
      <p>Enter your email address and we will send you a link to reset your password.</p>
    </div>
    <div>
      <form  action="/users/forgotPassword" method="post">
        <div class="form-group">
          <input  type="email" class="form-control login-input" id="inputEmail" name="email" placeholder="Email" required autofocus>
        </div>
        <div class="form-group" style="padding-bottom:10px;">
          <button type="submit" class="button btn btn-lg">SUBMIT</button>
        </div>
      </form>
    </div>
  </div>
</div>
</div>
