<div>
  <form action="/users/reply" method="post">
    <div>
      <textarea  id="message" name="message" placeholder="Type a message..."></textarea>
      <button type="submit">SEND</button>
    </div>
  </form>
</div>
