<div id="student-profile" class="login well" style="background-color:#f1f4f7; border-radius:1px; margin:auto; margin-top:10%;">
		<div style="padding:40px 20px 20px 20px;">
			<form id="login-form" action="/action_page.php">
				<div class="row">
					<div class="form-group col-sm-6">
						<input style="height:3em; background-color: white " type="text" class="form-control" id="name" name="name" placeholder="Name">
					</div>
					<div class="form-group col-sm-6">
						<input style="height:3em; background-color: white; " type="email" class="form-control" id="email" name="email" placeholder="Email">
					</div>
				</div>
				<div class="row">
					<div class="form-group col-sm-6">
						<input style="height:3em; background-color: white; " type="text" class="form-control" id="username" name="username" placeholder="Username">
					</div>
					<div class="form-group col-sm-6">
						<select style="width: 100%; padding: 12px 20px; border-radius: 4px; background-color: white" id="class" name="class">
							<option value="au">Class</option>
							<option value="au">12</option>
							<option value="ca">10</option>
						</select>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-sm-6">
						<select style="width: 100%; padding: 12px 20px; border-radius: 4px; background-color: white;" id="city" name="city">
							<option value="au">City</option>
							<option value="au">Mumbai</option>
							<option value="ca">Thane</option>
						</select>
					</div>
					<div class="form-group col-sm-6">
						<select style="width: 100%; padding: 12px 20px; border-radius: 4px; background-color:white;" id="State" name="State">
							<option value="au">State</option>
							<option value="au">Maharashtra</option>
							<option value="ca">Andhra Pradesh</option>
						</select>
					</div>
				</div>
				<div class="form-group">
						<input style="height:3em; background-color:white; " type="number" class="form-control" id="pincode" name="pincode" placeholder="Pincode">
				</div>
				<div class="form-group">
						<input style="height:3em; background-color:white; " type="text" class="form-control" id="schoolname" name="schoolname" placeholder="School Name">
				</div>
				<div class="form-group">
					<textarea style="height:10em; background-color:white;" class="form-control" id="pwd" placeholder="Message"></textarea>
				</div>
				<div class="form-group">
					<button type="button" class="button btn btn-lg">LOGIN</button>
				</div>
			</form>
		</div>
	</div>
